pipeline/ar255079_usecase1.json
{
	"name": "ar255079_usecase1",
	"properties": {
		"activities": [
			{
				"name": "GetFileNameDetails",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"dataset": {
						"referenceName": "ar255079_getfilename",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "GetColumnCount",
				"type": "GetMetadata",
				"dependsOn": [
					{
						"activity": "ValidateFileSize",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ar255079_getcolumncount",
						"type": "DatasetReference",
						"parameters": {
							"FileName": {
								"value": "@activity('GetFileNameDetails').output.firstRow.FileName",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"columnCount"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "ValidateFileSize",
				"type": "Validation",
				"dependsOn": [
					{
						"activity": "GetFileNameDetails",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ar255079_getcolumncount",
						"type": "DatasetReference",
						"parameters": {
							"FileName": "@activity('GetFileNameDetails').output.firstRow.FileName"
						}
					},
					"timeout": "0.00:00:30",
					"sleep": 2,
					"minimumSize": 10
				}
			},
			{
				"name": "ValidateColumnCount",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "GetColumnCount",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(activity('GetColumnCount').output,4)",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "CopyFiletoArchiveDirectory",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "ar255079_src_data_uc1",
									"type": "DatasetReference",
									"parameters": {
										"FileName": {
											"value": "@activity('GetFileNameDetails').output.firstRow.FileName)",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ar255079_archive_del_output",
									"type": "DatasetReference",
									"parameters": {
										"OutputFileName": {
											"value": "@concat('Wrong_',activity('GetFileNameDetails').output.firstRow.FileName)",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "Delete1",
							"type": "Delete",
							"dependsOn": [
								{
									"activity": "CopyFiletoArchiveDirectory",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [
								{
									"name": "FileDeleted",
									"value": "File Deleted from the input path"
								}
							],
							"typeProperties": {
								"dataset": {
									"referenceName": "ar255079_src_data_uc1",
									"type": "DatasetReference",
									"parameters": {
										"FileName": "@activity('GetFileNameDetails').output.firstRow.FileName"
									}
								},
								"enableLogging": false,
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								}
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "Copy data1",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "ar255079_src_data_uc1",
									"type": "DatasetReference",
									"parameters": {
										"FileName": "@activity('GetFileNameDetails').output.firstRow.FileName"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ar255079_uc1_output",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			},
			{
				"name": "Fail1",
				"type": "Fail",
				"dependsOn": [
					{
						"activity": "ValidateFileSize",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"message": "zero byte present",
					"errorCode": "007"
				}
			}
		],
		"folder": {
			"name": "ar255079"
		},
		"annotations": [],
		"lastPublishTime": "2021-11-12T11:42:38Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}