pipeline/azure_shipping_demo.json
{
	"name": "azure_shipping_demo",
	"properties": {
		"activities": [
			{
				"name": "get data",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"dataset": {
						"referenceName": "sm255207_json_ds",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Copy inbound",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "get data",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"wildcardFileName": "*.csv",
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "sm255207_inbound_ds",
						"type": "DatasetReference",
						"parameters": {
							"sourceDirectory": {
								"value": "@activity('get data').output.firstRow.sourceDirectory",
								"type": "Expression"
							},
							"sourceContainer": {
								"value": "@activity('get data').output.firstRow.sourceContainer",
								"type": "Expression"
							},
							"sourceFileName": {
								"value": "@activity('get data').output.firstRow.sourceFileName",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "sm255207_copy_ds",
						"type": "DatasetReference",
						"parameters": {
							"destFileName": {
								"value": "@activity('get data').output.firstRow.destFileName",
								"type": "Expression"
							},
							"destDirectory": {
								"value": "@activity('get data').output.firstRow.destDirectory",
								"type": "Expression"
							},
							"destContainer": {
								"value": "@activity('get data').output.firstRow.destContainer",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "delete_inbound_data",
				"type": "Delete",
				"dependsOn": [
					{
						"activity": "Copy inbound",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "sm255207_del_inbound",
						"type": "DatasetReference",
						"parameters": {
							"sourceDirectory": {
								"value": "@activity('get data').output.firstRow.sourceDirectory",
								"type": "Expression"
							},
							"sourceContainer": {
								"value": "@activity('get data').output.firstRow.sourceContainer",
								"type": "Expression"
							},
							"sourceFileName": {
								"value": "@activity('get data').output.firstRow.sourceFileName",
								"type": "Expression"
							}
						}
					},
					"logStorageSettings": {
						"linkedServiceName": {
							"referenceName": "adls_ls",
							"type": "LinkedServiceReference"
						}
					},
					"enableLogging": true,
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					}
				}
			},
			{
				"name": "source_transform",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "delete_inbound_data",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/sm255207/sm255207_Azure_D"
				},
				"linkedServiceName": {
					"referenceName": "adb_ls",
					"type": "LinkedServiceReference"
				}
			}
		],
		"folder": {
			"name": "sm255207"
		},
		"annotations": [],
		"lastPublishTime": "2022-11-12T11:26:50Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}