pipeline/Azure_Demo_email.json
{
	"name": "Azure_Demo_email",
	"properties": {
		"activities": [
			{
				"name": "get data from config",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"wildcardFileName": "ADF*.json",
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"dataset": {
						"referenceName": "Json2",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Copy_inbound_input",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "get data from config",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"wildcardFileName": "*.csv",
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "Input_File",
						"type": "DatasetReference",
						"parameters": {
							"sourceDirectory": "@activity('get data from config').output.firstRow.sourceDirectory",
							"sourceContainer": "@activity('get data from config').output.firstRow.sourceContainer",
							"sourceFileName": "@activity('get data from config').output.firstRow.sourceFileName"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "Copy_Input_File",
						"type": "DatasetReference",
						"parameters": {
							"destFileName": "@activity('get data from config').output.firstRow.destFileName",
							"destDirectory": "@activity('get data from config').output.firstRow.destDirectory",
							"destContainer": "@activity('get data from config').output.firstRow.destContainer"
						}
					}
				]
			},
			{
				"name": "Delete_Inbound",
				"type": "Delete",
				"dependsOn": [
					{
						"activity": "Copy_inbound_input",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "Input_File",
						"type": "DatasetReference",
						"parameters": {
							"sourceDirectory": "@activity('get data from config').output.firstRow.sourceDirectory",
							"sourceContainer": "@activity('get data from config').output.firstRow.sourceContainer",
							"sourceFileName": "@activity('get data from config').output.firstRow.sourceFileName"
						}
					},
					"logStorageSettings": {
						"linkedServiceName": {
							"referenceName": "adls_ls",
							"type": "LinkedServiceReference"
						}
					},
					"enableLogging": true,
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"wildcardFileName": "*.csv",
						"enablePartitionDiscovery": false
					}
				}
			},
			{
				"name": "Transform_Stage",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "Delete_Inbound",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/np255046/Azure DB"
				},
				"linkedServiceName": {
					"referenceName": "adb_ls",
					"type": "LinkedServiceReference"
				}
			}
		],
		"folder": {
			"name": "np255046"
		},
		"annotations": [],
		"lastPublishTime": "2023-06-26T09:54:13Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}