pipeline/Demo_Pipeline_Parameter_Exec.json
{
	"name": "Demo_Pipeline_Parameter_Exec",
	"properties": {
		"activities": [
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"dataset": {
						"referenceName": "InputFile_ds",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Copy data1",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "ParquetSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "ParquetWriteSettings"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "SourceFile",
						"type": "DatasetReference",
						"parameters": {
							"sourceContainer": {
								"value": "@activity('Lookup1').output.FirstRow.sourceContainer",
								"type": "Expression"
							},
							"sourceDirectory": {
								"value": "@activity('Lookup1').output.FirstRow.sourceDirectory",
								"type": "Expression"
							},
							"sourceFileName": {
								"value": "@activity('Lookup1').output.FirstRow.sourceFileName",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "DestFileLoad",
						"type": "DatasetReference",
						"parameters": {
							"destContainer": {
								"value": "@activity('Lookup1').output.FirstRow.destContainer",
								"type": "Expression"
							},
							"destDirectory": {
								"value": "@activity('Lookup1').output.FirstRow.destDirectory",
								"type": "Expression"
							},
							"destFileName": {
								"value": "@activity('Lookup1').output.FirstRow.destFileName",
								"type": "Expression"
							}
						}
					}
				]
			}
		],
		"annotations": [],
		"lastPublishTime": "2021-11-11T15:21:08Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}