pipeline/Ha255041_fdemo_pipeline2.json
{
	"name": "Ha255041_fdemo_pipeline2",
	"properties": {
		"activities": [
			{
				"name": "Check If Csv File Is present in inbound",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "files",
					"value": {
						"value": "@createArray(pipeline().parameters.File_1,pipeline().parameters.File_2,pipeline().parameters.File_3)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Check If Csv File Is present in inbound",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@variables('files')",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "CSV_File Lookup",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"dataset": {
									"referenceName": "HA255041_Param_DelimitedText19",
									"type": "DatasetReference",
									"parameters": {
										"FileName": {
											"value": "@item()",
											"type": "Expression"
										}
									}
								}
							}
						},
						{
							"name": "Which CSV file isnt present",
							"type": "Fail",
							"dependsOn": [
								{
									"activity": "CSV_File Lookup",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"message": {
									"value": "@concat(item(),': File Missing')",
									"type": "Expression"
								},
								"errorCode": "404"
							}
						},
						{
							"name": "Inbound-Input",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "CSV_File Lookup",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".csv"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "HA255041_Copy_Inbound",
									"type": "DatasetReference",
									"parameters": {
										"File": {
											"value": "@item()",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ha255041_CopyInput_Demo",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			},
			{
				"name": "Notebook1",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "ForEach1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/ha255041/demo/Demo_Final",
					"baseParameters": {
						"File1": {
							"value": "@pipeline().parameters.File_1",
							"type": "Expression"
						},
						"File2": {
							"value": "@pipeline().parameters.File_2",
							"type": "Expression"
						},
						"File3": {
							"value": "@pipeline().parameters.File_3",
							"type": "Expression"
						},
						"FirstInsert": {
							"value": "@pipeline().parameters.First_Insert",
							"type": "Expression"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "adb_ls",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Web1",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Notebook1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://prod-20.eastus.logic.azure.com:443/workflows/144ac395e1c34d1cb5fd524e6e239575/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=o-2Wx_7w9CoOX5RTkJEZhaLrC8e5IsKBx0pOdX-lWV8",
					"method": "POST",
					"body": {
						"value": "{\n    \"DataFactoryName\" : \"@{pipeline().DataFactory}\", \n    \"PipelineName\" : \"@{pipeline().Pipeline}\", \n    \"EmailTo\" : \"@{pipeline().parameters.EmailTo}\",\n    \"FileName\":\"Rating Files\",\n    \"Subject\":\"Successfull\"\n   }",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Delete Files from Input",
				"type": "Delete",
				"dependsOn": [
					{
						"activity": "ForEach1",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "Delete_Input",
						"type": "DatasetReference"
					},
					"enableLogging": false,
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"wildcardFileName": "*.csv",
						"enablePartitionDiscovery": false
					}
				}
			}
		],
		"parameters": {
			"File_1": {
				"type": "string",
				"defaultValue": "Rtng_Eco.csv"
			},
			"File_2": {
				"type": "string",
				"defaultValue": "Rtng_Busi.csv"
			},
			"File_3": {
				"type": "string",
				"defaultValue": "Rtng_First.csv"
			},
			"First_Insert": {
				"type": "string",
				"defaultValue": "yes"
			},
			"EmailTo": {
				"type": "string",
				"defaultValue": "hatim.anandwala@teradata.com"
			}
		},
		"variables": {
			"files": {
				"type": "Array"
			},
			"nf": {
				"type": "String",
				"defaultValue": "[\"123\",\"246\"]"
			},
			"metadata_files": {
				"type": "Array"
			}
		},
		"folder": {
			"name": "ha255041"
		},
		"annotations": [],
		"lastPublishTime": "2021-11-30T08:18:28Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}