pipeline/mb255121_fuel_data_copy1.json
{
	"name": "mb255121_fuel_data_copy1",
	"properties": {
		"activities": [
			{
				"name": "get data",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "config",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "input_demofile",
						"type": "DatasetReference",
						"parameters": {
							"sourceContainer": {
								"value": "@activity('config').output.firstRow.sourceContainer",
								"type": "Expression"
							},
							"sourceDirectory": {
								"value": "@activity('config').output.firstRow.sourceDirectory",
								"type": "Expression"
							},
							"sourceFileName": {
								"value": "@activity('config').output.firstRow.sourceFileName",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "sink_demo",
						"type": "DatasetReference",
						"parameters": {
							"destContainer": {
								"value": "@activity('config').output.firstRow.destContainer",
								"type": "Expression"
							},
							"destDirectory": {
								"value": "@activity('config').output.firstRow.destDirectory",
								"type": "Expression"
							},
							"destFileName": {
								"value": "@activity('config').output.firstRow.destFileName",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "config",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"dataset": {
						"referenceName": "config_file",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "demo_notebook",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "get data",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/mb255121/demo_notebook_final"
				},
				"linkedServiceName": {
					"referenceName": "adb_ls",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Fail msg for source file",
				"type": "Fail",
				"dependsOn": [
					{
						"activity": "get data",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"message": "No source file found",
					"errorCode": "2200"
				}
			},
			{
				"name": "Web1",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "demo_notebook",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://prod-20.eastus.logic.azure.com:443/workflows/144ac395e1c34d1cb5fd524e6e239575/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=o-2Wx_7w9CoOX5RTkJEZhaLrC8e5IsKBx0pOdX-lWV8",
					"method": "POST",
					"body": {
						"value": "{\n    \"DataFactoryName\" : \"@{pipeline().DataFactory}\", \n    \"PipelineName\" : \"@{pipeline().Pipeline}\", \n    \"EmailTo\" : \"@{pipeline().parameters.EmailTo}\",\n    \"FileName\":\"fuel.csv\",\n    \"Subject\":\"Successfull\"\n   }",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"fileName": {
				"type": "string",
				"defaultValue": "fuel.csv"
			},
			"EmailTo": {
				"type": "string",
				"defaultValue": "medha.badgire@teradata.com"
			},
			"DataFactoryName": {
				"type": "string",
				"defaultValue": "mb255121"
			},
			"PipelineName": {
				"type": "string",
				"defaultValue": "mb255121_fuel_data"
			}
		},
		"variables": {
			"executes": {
				"type": "Boolean"
			}
		},
		"folder": {
			"name": "mb255121"
		},
		"annotations": [],
		"lastPublishTime": "2023-06-26T09:54:14Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}