pipeline/my186016_parameterization.json
{
	"name": "my186016_parameterization",
	"properties": {
		"activities": [
			{
				"name": "LookupConfig",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"dataset": {
						"referenceName": "my186016_config",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "copy_rim",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "LookupConfig",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "ParquetSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "ParquetWriteSettings"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "my186016_parameter_source_ds",
						"type": "DatasetReference",
						"parameters": {
							"sourceFileName": {
								"value": "@activity('LookupConfig').output.secondRow.sourceFileName",
								"type": "Expression"
							},
							"sourceDirectory": {
								"value": "@activity('LookupConfig').output.secondRow.sourceDirectory",
								"type": "Expression"
							},
							"sourceContainer": {
								"value": "@activity('LookupConfig').output.secondRow.sourceContainer",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "my186016_parameter_sink_ds",
						"type": "DatasetReference",
						"parameters": {
							"destFileName": {
								"value": "@activity('LookupConfig').output.secondRow.destFileName",
								"type": "Expression"
							},
							"destDirectory": {
								"value": "@activity('LookupConfig').output.secondRow.destDirectory",
								"type": "Expression"
							},
							"destContainer": {
								"value": "@activity('LookupConfig').output.secondRow.destContainer",
								"type": "Expression"
							}
						}
					}
				]
			}
		],
		"annotations": [],
		"lastPublishTime": "2023-07-28T07:25:42Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}