pipeline/my186016_SSM_pipeline.json
{
	"name": "my186016_SSM_pipeline",
	"properties": {
		"activities": [
			{
				"name": "Extract Csv File Name",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "CSV_FILE_NAME",
					"value": {
						"value": "@substring(pipeline().parameters.File_Name, 0,lastindexof(pipeline().parameters.File_Name,'.'))",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Extract CTL filename",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Extract Csv File Name",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "CTL_FILE_NAME",
					"value": {
						"value": "@concat(substring(variables('CSV_FILE_NAME'),0 ,lastIndexOf(variables('CSV_FILE_NAME'),'.' ) ),'.ctl')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "ctl_lookup",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Extract CTL filename",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"dataset": {
						"referenceName": "my186016_ctl_file",
						"type": "DatasetReference",
						"parameters": {
							"CTL_FILE_SRC": {
								"value": "@variables('CTL_FILE_NAME')",
								"type": "Expression"
							}
						}
					}
				}
			},
			{
				"name": "Loading data in staging table",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "ctl_lookup",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Users/mounika.yellu@qateradatacloud.com/my186016_PS_ASSET_stg"
				},
				"linkedServiceName": {
					"referenceName": "adb_ls",
					"type": "LinkedServiceReference"
				}
			}
		],
		"parameters": {
			"File_Name": {
				"type": "string",
				"defaultValue": "abc.csv.gz"
			},
			"Container_Name": {
				"type": "string"
			},
			"Input_Directory": {
				"type": "string"
			},
			"Inbound_Directory": {
				"type": "string"
			}
		},
		"variables": {
			"CSV_FILE_NAME": {
				"type": "String"
			},
			"CTL_FILE_NAME": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2023-07-27T11:34:06Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}