pipeline/NP255046_Azure_Demo_Pipeline_copy1.json
{
	"name": "NP255046_Azure_Demo_Pipeline_copy1",
	"properties": {
		"activities": [
			{
				"name": "get data from config",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"wildcardFileName": "ADF*.json",
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"dataset": {
						"referenceName": "Json2",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "get Schema of file",
				"type": "GetMetadata",
				"dependsOn": [
					{
						"activity": "get data from config",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "Input_File",
						"type": "DatasetReference",
						"parameters": {
							"sourceDirectory": {
								"value": "@activity('get data from config').output.firstRow.sourceDirectory",
								"type": "Expression"
							},
							"sourceContainer": {
								"value": "@activity('get data from config').output.firstRow.sourceContainer",
								"type": "Expression"
							},
							"sourceFileName": {
								"value": "@activity('get data from config').output.firstRow.sourceFileName",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"structure"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "Get scehma from ref file",
				"type": "GetMetadata",
				"dependsOn": [
					{
						"activity": "get data from config",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "Ref_Schema",
						"type": "DatasetReference"
					},
					"fieldList": [
						"structure"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "If Condition1",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "get Schema of file",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Get scehma from ref file",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(activity('Get scehma from ref file').output.structure,activity('get Schema of file').output.structure)",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "Wrong file",
							"type": "WebActivity",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"url": "https://prod-48.eastus.logic.azure.com:443/workflows/27b0503ec47a4951aa8d0a747c7ccd25/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=b2-jmvnjIJK5gSU40VFp8FnBJs5Qh8VOg1fWGj43G7Y",
								"method": "POST",
								"body": {
									"DataFactoryName": "@{pipeline().DataFactory}",
									"PipelineName": "@{pipeline().Pipeline}",
									"EmailTo": "@{pipeline().parameters.EmailTo}",
									"FileName": "Airline.csv",
									"Subject": "Wrong file"
								}
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "Copy_inbound_input",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"wildcardFileName": "*.csv",
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "Input_File",
									"type": "DatasetReference",
									"parameters": {
										"sourceDirectory": "@activity('get data from config').output.firstRow.sourceDirectory",
										"sourceContainer": "@activity('get data from config').output.firstRow.sourceContainer",
										"sourceFileName": "@activity('get data from config').output.firstRow.sourceFileName"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "Copy_Input_File",
									"type": "DatasetReference",
									"parameters": {
										"destFileName": "@activity('get data from config').output.firstRow.destFileName",
										"destDirectory": "@activity('get data from config').output.firstRow.destDirectory",
										"destContainer": "@activity('get data from config').output.firstRow.destContainer"
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "Delete Files From Inbound",
				"type": "Delete",
				"dependsOn": [
					{
						"activity": "Copy data archive",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "Input_File",
						"type": "DatasetReference",
						"parameters": {
							"sourceDirectory": "@activity('get data from config').output.firstRow.sourceDirectory",
							"sourceContainer": "@activity('get data from config').output.firstRow.sourceContainer",
							"sourceFileName": "@activity('get data from config').output.firstRow.sourceFileName"
						}
					},
					"logStorageSettings": {
						"linkedServiceName": {
							"referenceName": "adls_ls",
							"type": "LinkedServiceReference"
						}
					},
					"enableLogging": true,
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"wildcardFileName": "*.csv",
						"enablePartitionDiscovery": false
					}
				}
			},
			{
				"name": "Transform and vizualize data",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "Delete Files From Inbound",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/np255046/NP Azure DB Code"
				},
				"linkedServiceName": {
					"referenceName": "adb_ls",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "New Data File Analysed",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Transform and vizualize data",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://prod-20.eastus.logic.azure.com:443/workflows/144ac395e1c34d1cb5fd524e6e239575/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=o-2Wx_7w9CoOX5RTkJEZhaLrC8e5IsKBx0pOdX-lWV8",
					"method": "POST",
					"body": {
						"value": "{\n    \"DataFactoryName\" : \"@{pipeline().DataFactory}\",\n  \"PipelineName\" : \"@{pipeline().Pipeline}\",\n    \"EmailTo\" : \"@{pipeline().parameters.EmailTo}\",\n    \"FileName\":\"Airline.csv\",\n    \"Subject\":\"Pipeline Executed Successfull\"\n\n   }",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Copy data archive",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "If Condition1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"wildcardFileName": ".*csv",
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "Input_File",
						"type": "DatasetReference",
						"parameters": {
							"sourceDirectory": "@activity('get data from config').output.firstRow.sourceDirectory",
							"sourceContainer": "@activity('get data from config').output.firstRow.sourceContainer",
							"sourceFileName": "@activity('get data from config').output.firstRow.sourceFileName"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "Archive_File",
						"type": "DatasetReference",
						"parameters": {
							"ArchFileName": {
								"value": "@activity('Copy_inbound_input').output.firstRow.ArchFileName",
								"type": "Expression"
							},
							"ArchDirectory": {
								"value": "@activity('Copy_inbound_input').output.firstRow.ArchDirectory",
								"type": "Expression"
							},
							"ArchContainer": {
								"value": "@activity('Copy_inbound_input').output.FirstRow.ArchContainer",
								"type": "Expression"
							}
						}
					}
				]
			}
		],
		"parameters": {
			"FileName": {
				"type": "string",
				"defaultValue": "*.csv"
			},
			"DataFactoryName": {
				"type": "string",
				"defaultValue": "Azure Demo"
			},
			"EmailTo": {
				"type": "string",
				"defaultValue": "Nisha.Pedsangi@Teradata.com"
			},
			"PipelineName": {
				"type": "string",
				"defaultValue": "Azure_demo"
			}
		},
		"folder": {
			"name": "np255046"
		},
		"annotations": [],
		"lastPublishTime": "2023-06-26T09:54:13Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}