pipeline/pa186030_UseCase1_DF.json
{
	"name": "pa186030_UseCase1_DF",
	"properties": {
		"activities": [
			{
				"name": "Get Metadata Customer Sales",
				"type": "GetMetadata",
				"dependsOn": [
					{
						"activity": "Customer Sales Data flow",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 1,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "pa186030_customer_sales_df_sink_check",
						"type": "DatasetReference"
					},
					"fieldList": [
						"exists"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "Check if Metadata exists",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Get Metadata Customer Sales",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@activity('Get Metadata Customer Sales').output.exists",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "Web Mail",
							"type": "WebActivity",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 1,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"url": {
									"value": "https://pa186030-mail-notification.azurewebsites.net:443/api/Mail_Notification/triggers/When_a_HTTP_request_is_received/invoke?api-version=2022-05-01&sp=%2Ftriggers%2FWhen_a_HTTP_request_is_received%2Frun&sv=1.0&sig=BuEJhy7XT2rxEMCkrtia9bKfGbqe6zHGHec4iHnt6a8",
									"type": "Expression"
								},
								"method": "POST",
								"headers": {
									"Content-type": "application/json"
								},
								"body": {
									"value": "@concat('{ \n\t\"EmailTo\" : \"',pipeline().parameters.Email_To,'\", \n\t\"Subject\" : \"',pipeline().parameters.Subject,'\",\n\t\"DataFactoryName\" : \"',pipeline().DataFactory,'\",\t\n\t\"PipelineName\" : \"',pipeline().Pipeline,'\", \n\t\"Activity\" : \"\", \n\t\"ErrorMessage\" : \"\",\n\t\"FileName\" : \"\"\n\t}')",
									"type": "Expression"
								}
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "Databricks Notebook",
							"type": "DatabricksNotebook",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 1,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": "/pa186030/Use_Case1_DF"
							},
							"linkedServiceName": {
								"referenceName": "ADB_mp255107",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			},
			{
				"name": "Web Mail for Pipeline Failure",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Check if Metadata exists",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 1,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "https://pa186030-mail-notification.azurewebsites.net:443/api/Mail_Notification/triggers/When_a_HTTP_request_is_received/invoke?api-version=2022-05-01&sp=%2Ftriggers%2FWhen_a_HTTP_request_is_received%2Frun&sv=1.0&sig=BuEJhy7XT2rxEMCkrtia9bKfGbqe6zHGHec4iHnt6a8",
						"type": "Expression"
					},
					"method": "POST",
					"headers": {
						"Content-type": "application/json"
					},
					"body": {
						"value": "@concat('{ \n\t\"EmailTo\" : \"',pipeline().parameters.Email_To,'\", \n\t\"Subject\" : \"',pipeline().parameters.Failure_Subject,'\",\n\t\"DataFactoryName\" : \"',pipeline().DataFactory,'\",\t\n\t\"PipelineName\" : \"',pipeline().Pipeline,'\", \n\t\"Activity\" : \"\", \n\t\"ErrorMessage\" : \"\",\n\t\"FileName\" : \"\"\n\t}')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Customer Sales Data flow",
				"type": "ExecuteDataFlow",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 1,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "pa186030_UseCase1_dataflow",
						"type": "DataFlowReference",
						"parameters": {
							"fileName": {
								"value": "'@{variables('fileName')}'",
								"type": "Expression"
							}
						},
						"datasetParameters": {
							"OutputToSink": {
								"fileName": "'customer_sales.csv'"
							}
						}
					},
					"compute": {
						"coreCount": 8,
						"computeType": "General"
					},
					"traceLevel": "Fine"
				}
			}
		],
		"parameters": {
			"Email_To": {
				"type": "string",
				"defaultValue": "pranav.ayare@teradata.com"
			},
			"Subject": {
				"type": "string",
				"defaultValue": "Email Notification for Data Factory Pipeline"
			},
			"Failure_Subject": {
				"type": "string",
				"defaultValue": "Email Notification for Data Factory Pipeline Failure"
			}
		},
		"variables": {
			"fileName": {
				"type": "String",
				"defaultValue": "customer_sales.csv"
			}
		},
		"folder": {
			"name": "pa186030"
		},
		"annotations": []
	}
}