pipeline/parameterized_cpdata_json.json
{
	"name": "parameterized_cpdata_json",
	"properties": {
		"activities": [
			{
				"name": "get data from config",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"dataset": {
						"referenceName": "Json2",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Copy data1",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "get data from config",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "ParquetSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "ParquetWriteSettings"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "Input_File_Parameter",
						"type": "DatasetReference",
						"parameters": {
							"sourceDirectory": {
								"value": "@activity('get data from config').output.firstRow.sourceDirectory",
								"type": "Expression"
							},
							"sourceContainer": {
								"value": "@activity('get data from config').output.firstRow.sourceContainer",
								"type": "Expression"
							},
							"sourceFileName": {
								"value": "@activity('get data from config').output.firstRow.sourceFileName",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "Output_File_Paramterized",
						"type": "DatasetReference",
						"parameters": {
							"destFileName": {
								"value": "@activity('get data from config').output.firstRow.destFileName",
								"type": "Expression"
							},
							"destDirectory": "@activity('get data from config').output.firstRow.destDirectory",
							"destContainer": "@activity('get data from config').output.firstRow.destContainer"
						}
					}
				]
			}
		],
		"folder": {
			"name": "np255046"
		},
		"annotations": [],
		"lastPublishTime": "2023-06-26T09:54:12Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}