pipeline/pb255086_delete.json
{
	"name": "pb255086_delete",
	"properties": {
		"activities": [
			{
				"name": "Copy from input to archives",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "ParquetSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						}
					},
					"sink": {
						"type": "ParquetSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "ParquetWriteSettings"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "pb255086_inputtoarchive",
						"type": "DatasetReference",
						"parameters": {
							"destFileName": "@activity('lookup_parameter').output.firstRow.destFileName"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "pb255086_inputtoarchivesink",
						"type": "DatasetReference",
						"parameters": {
							"destFileName": "@activity('lookup_parameter').output.firstRow.destFileName"
						}
					}
				]
			},
			{
				"name": "Delete from Input",
				"type": "Delete",
				"dependsOn": [
					{
						"activity": "Copy from input to archives",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "pb255086_delete",
						"type": "DatasetReference",
						"parameters": {
							"sourceContainer": "@activity('lookup_parameter').output.firstRow.sourceContainer",
							"sourceDirectory": "@activity('lookup_parameter').output.firstRow.sourceDirectory",
							"sourceFileName": "@activity('lookup_parameter').output.firstRow.sourceFileName"
						}
					},
					"logStorageSettings": {
						"linkedServiceName": {
							"referenceName": "adls_ls",
							"type": "LinkedServiceReference"
						},
						"path": "pb255086/stage"
					},
					"enableLogging": true,
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					}
				}
			}
		],
		"folder": {
			"name": "PB255086"
		},
		"annotations": [],
		"lastPublishTime": "2022-11-10T08:45:35Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}