pipeline/pipeline3.json
{
	"name": "pipeline3",
	"properties": {
		"activities": [
			{
				"name": "Delete from Inbound",
				"type": "Delete",
				"dependsOn": [
					{
						"activity": "inbound csv to input parquet",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "pb255086_delete",
						"type": "DatasetReference",
						"parameters": {
							"sourceContainer": "@activity('lookup_parameter').output.firstRow.sourceContainer",
							"sourceDirectory": "@activity('lookup_parameter').output.firstRow.sourceDirectory",
							"sourceFileName": "@activity('lookup_parameter').output.firstRow.sourceFileName"
						}
					},
					"logStorageSettings": {
						"linkedServiceName": {
							"referenceName": "adls_ls",
							"type": "LinkedServiceReference"
						},
						"path": "pb255086/stage"
					},
					"enableLogging": true,
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					}
				}
			},
			{
				"name": "lookup_parameter",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"dataset": {
						"referenceName": "pb255086_cargoF",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "inbound csv to input parquet",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "lookup_parameter",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "ParquetSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "ParquetWriteSettings"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "cargoId",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "cargoId",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "shipmentDate",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "shipmentDate",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "catagry",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "catagry",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "filghtNo",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "filghtNo",
									"type": "String",
									"physicalType": "UTF8"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "pb255086_flat_file_sourse_ds_for_parameter",
						"type": "DatasetReference",
						"parameters": {
							"sourceDirectory": {
								"value": "@activity('lookup_parameter').output.firstRow.sourceDirectory",
								"type": "Expression"
							},
							"sourceContainer": {
								"value": "@activity('lookup_parameter').output.firstRow.sourceContainer\n",
								"type": "Expression"
							},
							"sourceFileName": {
								"value": "@activity('lookup_parameter').output.firstRow.sourceFileName",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "pb255086_Parquet2",
						"type": "DatasetReference",
						"parameters": {
							"destContainer": {
								"value": "@activity('lookup_parameter').output.firstRow.destContainer",
								"type": "Expression"
							},
							"destDirectory": {
								"value": "@activity('lookup_parameter').output.firstRow.destDirectory   ",
								"type": "Expression"
							},
							"destFileName": {
								"value": "@activity('lookup_parameter').output.firstRow.destFileName",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "Execute move and delete",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Delete from Inbound",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "pb255086_moveanddelete",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "Notebook1",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "Execute move and delete",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/pb255086/pb255086"
				},
				"linkedServiceName": {
					"referenceName": "adb_ls",
					"type": "LinkedServiceReference"
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2022-11-13T05:46:40Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}