pipeline/pk255065_.json
{
	"name": "pk255065_",
	"properties": {
		"activities": [
			{
				"name": "Extracting CSV File Name",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "CSV_File_Name",
					"value": {
						"value": "@substring(pipeline().parameters.File_Name,0,lastindexof(pipeline().parameters.File_Name,'.' ))",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Extracting CTL File Name",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Extracting CSV File Name",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "CTL_File_Name",
					"value": {
						"value": "@concat(substring(variables('CSV_File_Name'),0,lastindexof(variables('CSV_File_Name'),'.')),'.ctl')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "CTL Lookup",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Extracting CTL File Name",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"dataset": {
						"referenceName": "pk255065_CTL_File",
						"type": "DatasetReference",
						"parameters": {
							"CTL_File_Name": "@variables('CTL_File_Name')"
						}
					}
				}
			},
			{
				"name": "Notebook",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "CTL Lookup",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/pb255086/pb255086_ps_asset_stg"
				},
				"linkedServiceName": {
					"referenceName": "adb_ls",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Error Mail",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "CTL Lookup",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://prod-48.eastus.logic.azure.com:443/workflows/27b0503ec47a4951aa8d0a747c7ccd25/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=b2-jmvnjIJK5gSU40VFp8FnBJs5Qh8VOg1fWGj43G7Y",
					"method": "POST",
					"headers": {
						"content_type": "application/json"
					},
					"body": {
						"value": "@concat('{\n\n    \"EmailTo\":\"',pipeline().parameters.Email_To,'\",\n    \"Subject\":\"An error has occured in the ',pipeline().parameters.Pipe_line_Name,'-pipeline for file-',pipeline().parameters.File_Name,'\",\n    \"DataFactoryName\":\"',pipeline().DataFactory,'\",\n    \"PipelineName\":\"',pipeline().parameters.Pipe_line_Name,'\",\n    \"Activity\":\"',pipeline().parameters.Activity,'\",\n    \"ErrorMessage\":\"',pipeline().parameters.ErrorMessage,'\",\n    \"FileName\":\"',pipeline().parameters.File_Name,'\"}')",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"File_Name": {
				"type": "string",
				"defaultValue": "TrainingFile_20201014.csv.gz"
			},
			"Container_Name": {
				"type": "string"
			},
			"Input_Directory": {
				"type": "string"
			},
			"Inbound_Directory": {
				"type": "string"
			},
			"Email_To": {
				"type": "string",
				"defaultValue": "prasad.kamthe@teradata.com"
			},
			"Activity": {
				"type": "string"
			},
			"ErrorMessage": {
				"type": "string"
			},
			"Pipe_line_Name": {
				"type": "string"
			}
		},
		"variables": {
			"CSV_File_Name": {
				"type": "String"
			},
			"CTL_File_Name": {
				"type": "String"
			}
		},
		"folder": {
			"name": "pk255065"
		},
		"annotations": [],
		"lastPublishTime": "2022-11-08T04:59:41Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}