pipeline/pl_ingest_cases_deaths.json
{
	"name": "pl_ingest_cases_deaths",
	"properties": {
		"activities": [
			{
				"name": "Lkp ECDC File List",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.00:20:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": false,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"dataset": {
						"referenceName": "ds_ecdc_src_file_list_json",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach ECDC File",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lkp ECDC File List",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lkp ECDC File List').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Copy Cases and Deaths Data",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.00:20:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "HttpReadSettings",
										"requestMethod": "GET"
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "ds_ecdc_http",
									"type": "DatasetReference",
									"parameters": {
										"RelativeURL": {
											"value": "@item().sourceRelativeURL",
											"type": "Expression"
										},
										"BaseURL": {
											"value": "@item().sourceBaseURL",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ds_ecdc_adls",
									"type": "DatasetReference",
									"parameters": {
										"FileName": {
											"value": "@item().sinkFileName",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "Get Metadata",
							"type": "GetMetadata",
							"dependsOn": [
								{
									"activity": "Copy Cases and Deaths Data",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "ds_file_check_csv",
									"type": "DatasetReference",
									"parameters": {
										"csvFileName": {
											"value": "@endswith(pipeline().parameters.csvFileCheck, 'csv')",
											"type": "Expression"
										}
									}
								},
								"fieldList": [
									"exists"
								],
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							}
						},
						{
							"name": "If Condition1",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "Get Metadata",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@activity('Get Metadata').output.exists",
									"type": "Expression"
								},
								"ifTrueActivities": [
									{
										"name": "Set Dummy variable",
										"type": "SetVariable",
										"dependsOn": [],
										"policy": {
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"variableName": "RelativeURL",
											"value": {
												"value": "@variables('FileName')",
												"type": "Expression"
											}
										}
									}
								]
							}
						}
					]
				}
			}
		],
		"parameters": {
			"csvFileCheck": {
				"type": "string"
			}
		},
		"variables": {
			"RelativeURL": {
				"type": "String"
			},
			"FileName": {
				"type": "String"
			}
		},
		"folder": {
			"name": "sg255112"
		},
		"annotations": [],
		"lastPublishTime": "2023-06-26T09:53:24Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}