pipeline/Race_Data_Processing.json
{
	"name": "Race_Data_Processing",
	"properties": {
		"activities": [
			{
				"name": "Get Metadata of files in folder",
				"type": "GetMetadata",
				"dependsOn": [
					{
						"activity": "Execute File Unzip",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "AzureBlob_CSV_Get_MetaData",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "ForEach file",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get Metadata of files in folder",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Metadata of files in folder').output.childItems",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Set Source File Name",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "Source_File_Name",
								"value": {
									"value": "@item().name",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Set Target Table Name",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Set Source File Name",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "Target_Table_Name",
								"value": {
									"value": "@substring(variables('Source_File_Name'), 0, indexof(variables('Source_File_Name'),'.'))",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Get Metadata Source File Column Count",
							"type": "GetMetadata",
							"dependsOn": [
								{
									"activity": "Set Target Table Name",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "AzureBlob_CSV",
									"type": "DatasetReference",
									"parameters": {
										"Container": "mp255107",
										"Directory": "Erghast_Data/input/",
										"FileName": {
											"value": "@variables('Source_File_Name')",
											"type": "Expression"
										}
									}
								},
								"fieldList": [
									"size"
								],
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							}
						},
						{
							"name": "If Condition check column count",
							"description": "Column count expected to be >1",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "Get Metadata Source File Column Count",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@greater(activity('Get Metadata Source File Column Count').output.size,0)",
									"type": "Expression"
								},
								"ifTrueActivities": [
									{
										"name": "Execute Pipeline CSV_To_adb_Table",
										"description": "Execute pipeline to load csv data to ADB",
										"type": "ExecutePipeline",
										"dependsOn": [],
										"userProperties": [],
										"typeProperties": {
											"pipeline": {
												"referenceName": "Blob_CSV_To_Azure_Delta_Lake_Table",
												"type": "PipelineReference"
											},
											"waitOnCompletion": true,
											"parameters": {
												"Src_File_Name": {
													"value": "@variables('Source_File_Name')",
													"type": "Expression"
												},
												"Tgt_Table_Name": {
													"value": "@variables('Target_Table_Name')",
													"type": "Expression"
												}
											}
										}
									}
								]
							}
						}
					]
				}
			},
			{
				"name": "Notebook to merge data",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "ForEach file",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/mp255107/Merge Data from Staging to Target Tables"
				},
				"linkedServiceName": {
					"referenceName": "ADB_mp255107",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Notebook load data from file store and blob",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "Notebook to merge data",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/mp255107/File_Store_Data_To_Table"
				},
				"linkedServiceName": {
					"referenceName": "ADB_mp255107",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Execute File Unzip",
				"type": "ExecutePipeline",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "unzip_data",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			}
		],
		"variables": {
			"Source_File_Name": {
				"type": "String"
			},
			"Target_Table_Name": {
				"type": "String"
			}
		},
		"folder": {
			"name": "mp255107"
		},
		"annotations": [],
		"lastPublishTime": "2023-06-26T09:54:30Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}