pipeline/sg255131_UseCase1.json
{
	"name": "sg255131_UseCase1",
	"properties": {
		"activities": [
			{
				"name": "Customer_csv",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".csv"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "CustomerID",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "CustomerID",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "FirstName",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "FirstName",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "LastName",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "LastName",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "Email",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Email",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "Address",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Address",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "City",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "City",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "Country",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Country",
									"type": "String",
									"physicalType": "String"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "sg255131_customer_csv",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "sg255131_customer_sink",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Sales_csv",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".csv"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "OrderID",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "OrderID",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "CustomerID",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "CustomerID",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "ProductID",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "ProductID",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "Quantity",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Quantity",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "Price",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Price",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "OrderDate",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "OrderDate",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "Region",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Region",
									"type": "String",
									"physicalType": "String"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "sg255131_sales_csv",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "sg255131_sales_sink",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "GetMetadata_Customer",
				"type": "GetMetadata",
				"dependsOn": [
					{
						"activity": "Customer_csv",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 1,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "sg255131_cust_check",
						"type": "DatasetReference"
					},
					"fieldList": [
						"exists"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "GetMetadata_Sales",
				"type": "GetMetadata",
				"dependsOn": [
					{
						"activity": "Sales_csv",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 1,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "sg255131_sales_check",
						"type": "DatasetReference"
					},
					"fieldList": [
						"exists"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "Validate both Metadata exists",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "GetMetadata_Customer",
						"dependencyConditions": [
							"Completed"
						]
					},
					{
						"activity": "GetMetadata_Sales",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@and(activity('GetMetadata_Customer').output.exists,activity('GetMetadata_Sales').output.exists)",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "Web1",
							"type": "WebActivity",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"url": "https://sg255131-email-notification.azurewebsites.net:443/api/sg255131-mail/triggers/When_a_HTTP_request_is_received/invoke?api-version=2022-05-01&sp=%2Ftriggers%2FWhen_a_HTTP_request_is_received%2Frun&sv=1.0&sig=vsADpDq9lbWI0CVj-xNo0nH_WEoaSCdw9gwcgS-TSuA",
								"method": "POST",
								"headers": {
									"Content-Type": "application/json"
								},
								"body": {
									"value": "@concat('{ \n\t\"EmailTo\" : \"',pipeline().parameters.Email_To,'\", \n\t\"Subject\" : \"',pipeline().parameters.Subject,'\",\n\t\"DataFactoryName\" : \"',pipeline().DataFactory,'\",\t\n\t\"PipelineName\" : \"',pipeline().Pipeline,'\", \n\t\"Activity\" : \"\", \n\t\"ErrorMessage\" : \"\",\n\t\"FileName\" : \"\"\n\t}')",
									"type": "Expression"
								}
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "Databricks_notebook",
							"type": "DatabricksNotebook",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": "/sg255131/sg255131_UseCase1"
							},
							"linkedServiceName": {
								"referenceName": "ADB_mp255107",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			},
			{
				"name": "Web Email for Pipeline Failure",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Validate both Metadata exists",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://sg255131-email-notification.azurewebsites.net:443/api/sg255131-mail/triggers/When_a_HTTP_request_is_received/invoke?api-version=2022-05-01&sp=%2Ftriggers%2FWhen_a_HTTP_request_is_received%2Frun&sv=1.0&sig=vsADpDq9lbWI0CVj-xNo0nH_WEoaSCdw9gwcgS-TSuA",
					"method": "POST",
					"body": {
						"value": "@concat('{ \n\t\"EmailTo\" : \"',pipeline().parameters.Email_To,'\", \n\t\"Subject\" : \"',pipeline().parameters.Subject,'\",\n\t\"DataFactoryName\" : \"',pipeline().DataFactory,'\",\t\n\t\"PipelineName\" : \"',pipeline().Pipeline,'\", \n\t\"Activity\" : \"\", \n\t\"ErrorMessage\" : \"\",\n\t\"FileName\" : \"\"\n\t}')",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"Email_To": {
				"type": "string",
				"defaultValue": "sandhya.gautam@teradata.com"
			},
			"Subject": {
				"type": "string",
				"defaultValue": "sg255131_UseCase1_Execution"
			},
			"Failure_Subject": {
				"type": "string",
				"defaultValue": "sg255131_Pipeline_Execution_Failed"
			}
		},
		"folder": {
			"name": "sg255131"
		},
		"annotations": []
	}
}