pipeline/sg255131_ADF_ParameterFile.json
{
	"name": "sg255131_ADF_ParameterFile",
	"properties": {
		"activities": [
			{
				"name": "GetParameterFromConfigFolder",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"dataset": {
						"referenceName": "sg255131_Parameter_json_ds",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Copy data1",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "GetParameterFromConfigFolder",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "ParquetSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "ParquetWriteSettings"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "sg255131_Src_Parameter",
						"type": "DatasetReference",
						"parameters": {
							"sourceFileName": {
								"value": "@activity('GetParameterFromConfigFolder').output.firstRow.sourceFileName",
								"type": "Expression"
							},
							"sourceDirectory": {
								"value": "@activity('GetParameterFromConfigFolder').output.firstRow.sourceDirectory",
								"type": "Expression"
							},
							"sourceContainer": {
								"value": "@activity('GetParameterFromConfigFolder').output.firstRow.sourceContainer",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "sg255131_Sink_Parameter",
						"type": "DatasetReference",
						"parameters": {
							"destContainer": {
								"value": "@activity('GetParameterFromConfigFolder').output.firstRow.destContainer",
								"type": "Expression"
							},
							"destDirectory": {
								"value": "@activity('GetParameterFromConfigFolder').output.firstRow.destDirectory",
								"type": "Expression"
							},
							"destFileName": {
								"value": "@activity('GetParameterFromConfigFolder').output.firstRow.destFileName",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "Get Metadata1",
				"type": "GetMetadata",
				"dependsOn": [
					{
						"activity": "Copy data1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": []
			}
		],
		"folder": {
			"name": "sg255131"
		},
		"annotations": []
	}
}