pipeline/sj255058_Loan_Use_Case.json
{
	"name": "sj255058_Loan_Use_Case",
	"properties": {
		"activities": [
			{
				"name": "Loan_Metadata",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "sj255058_Metadata_Input",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "Filter",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "Loan_Metadata",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Loan_Metadata').output.childItems",
						"type": "Expression"
					},
					"condition": {
						"value": "@equals(split(item().name,'.')[1],'json')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "ForEach_Loan_File",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Filter",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Filter').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Copy Files for Loan",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".json"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "sj255058_Input_Dir",
									"type": "DatasetReference",
									"parameters": {
										"FileName": {
											"value": "@item().name",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "sj255058_work_Dir",
									"type": "DatasetReference"
								}
							]
						},
						{
							"name": "Failure",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Copy Files for Loan",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "Failed_Activity",
								"value": {
									"value": "@item().name",
									"type": "Expression"
								}
							}
						}
					]
				}
			},
			{
				"name": "Failure_Email_Notification",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "ForEach_Loan_File",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://prod-48.eastus.logic.azure.com:443/workflows/27b0503ec47a4951aa8d0a747c7ccd25/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=b2-jmvnjIJK5gSU40VFp8FnBJs5Qh8VOg1fWGj43G7Y",
					"method": "POST",
					"headers": {
						"Content-type": "application/json"
					},
					"body": {
						"value": "{\"ErrorMessage\":\"Failure in Pipeline @{pipeline().Pipeline}\",\n\"DataFactoryName\":\"@{pipeline().DataFactory}\",\n\"PipelineName\":\"@{pipeline().Pipeline}\",\n\"EmailTo\":\"@{pipeline().parameters.EmailTo}\",\n\"Subject\":\"Failure In @{pipeline().Pipeline}\",\n\"FileName\":\"@{variables('Failed_Activity')}\",\n\"Activity\":\"Failure while copying data\"}",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Loan Transformation",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "ForEach_Loan_File",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/sj255058/sj255058_Use_case_Loan_Transformation"
				},
				"linkedServiceName": {
					"referenceName": "ADB_mp255107",
					"type": "LinkedServiceReference"
				}
			}
		],
		"parameters": {
			"EmailTo": {
				"type": "string",
				"defaultValue": "shovit.jain@teradata.com"
			}
		},
		"variables": {
			"File_Name": {
				"type": "Array"
			},
			"Failed_Activity": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2023-07-11T04:47:44Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}