pipeline/sk255196_demo_pipeline.json
{
	"name": "sk255196_demo_pipeline",
	"properties": {
		"activities": [
			{
				"name": "Extracting csv File name",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "CSV_File_Name",
					"value": {
						"value": "@substring(pipeline().parameters.File_name,0,lastindexof(pipeline().parameters.File_name,'.'))",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Extracting CTL File Name",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Extracting csv File name",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "CTL_File_Name",
					"value": {
						"value": "@concat(substring(variables('CSV_File_Name'),0,lastindexof(variables('CSV_File_Name'),'.')),'.ctl')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "check CTL file if exist",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Extracting CTL File Name",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"dataset": {
						"referenceName": "CTL_File_Sours",
						"type": "DatasetReference",
						"parameters": {
							"CTL_File_Name": {
								"value": "@variables('CTL_File_Name')",
								"type": "Expression"
							}
						}
					}
				}
			}
		],
		"parameters": {
			"File_name": {
				"type": "string",
				"defaultValue": "abc.csv.gz"
			},
			"container_name": {
				"type": "string"
			},
			"Input_directory": {
				"type": "string"
			},
			"inbound_directory": {
				"type": "string"
			}
		},
		"variables": {
			"CSV_File_Name": {
				"type": "String"
			},
			"CTL_File_Name": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2021-12-10T05:43:45Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}