pipeline/SM252control_flow_activity.json
{
	"name": "SM252control_flow_activity",
	"properties": {
		"activities": [
			{
				"name": "Lookup_input",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"dataset": {
						"referenceName": "RIM_Hist_inp",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Get Metadata_file",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "RIM_sm255206",
						"type": "DatasetReference"
					},
					"fieldList": [
						"exists",
						"itemType",
						"itemName",
						"lastModified",
						"columnCount",
						"size",
						"structure"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "Filterdata",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "Lookup_input",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup_input').output.value",
						"type": "Expression"
					},
					"condition": {
						"value": "@equals(item().Origin,'ORD')",
						"type": "Expression"
					}
				}
			}
		],
		"folder": {
			"name": "SM255206"
		},
		"annotations": [],
		"lastPublishTime": "2022-07-19T09:04:06Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}