pipeline/vf186006_CTL_DATA_Load.json
{
	"name": "vf186006_CTL_DATA_Load",
	"properties": {
		"activities": [
			{
				"name": "Derive Data File Name",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "Data_File_Name",
					"value": {
						"value": "@if(endswith(pipeline().parameters.Passed_File_Name,'gz'),replace(pipeline().parameters.Passed_File_Name,'.gz',''),pipeline().parameters.Passed_File_Name)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Derive CTL File Name",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "CTL_File_Name",
					"value": {
						"value": "@if(endswith(pipeline().parameters.Passed_File_Name,'gz'),concat(substring(pipeline().parameters.Passed_File_Name,0,indexof(pipeline().parameters.Passed_File_Name,'.')),'.ctl'),concat(substring(pipeline().parameters.Passed_File_Name,0,indexof(pipeline().parameters.Passed_File_Name,'.')),'.ctl'))",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Lookup CTL file",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Derive CTL File Name",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": false,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"dataset": {
						"referenceName": "vf186006_Inbound",
						"type": "DatasetReference",
						"parameters": {
							"Data_Inbound_NAme": {
								"value": "@variables('CTL_File_Name')",
								"type": "Expression"
							}
						}
					}
				}
			},
			{
				"name": "Lookup Data file",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Derive Data File Name",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": false,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"dataset": {
						"referenceName": "vf186006_Inbound",
						"type": "DatasetReference",
						"parameters": {
							"Data_Inbound_NAme": {
								"value": "@variables('Data_File_Name')",
								"type": "Expression"
							}
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Copy Data File",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Lookup Data file",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ""
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "BUSINESS_UNIT",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "BUSINESS_UNIT",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "ASSET_ID",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "ASSET_ID",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "EFFDT",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "EFFDT",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "OWNING_BUS_UNIT7",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "OWNING_BUS_UNIT7",
									"type": "String",
									"physicalType": "String"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "vf186006_Inbound_Data",
						"type": "DatasetReference",
						"parameters": {
							"Data_Inbound_FileName": {
								"value": "@variables('Data_File_Name')",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "vf186006_Input_Data",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Copy CTL File",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Lookup CTL file",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ""
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "vf186006_Inbound",
						"type": "DatasetReference",
						"parameters": {
							"Data_Inbound_NAme": {
								"value": "@variables('CTL_File_Name')",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "vf186006_Input",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Load_STG",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "Copy Data File",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Copy CTL File",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/vf186006/Second_Stage_Load"
				},
				"linkedServiceName": {
					"referenceName": "vf186006_Db_Connection",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "STG_TGT Load",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "Load_STG",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/vf186006/Target_Load"
				},
				"linkedServiceName": {
					"referenceName": "vf186006_Db_Connection",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Send Failure Emai",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Lookup CTL file",
						"dependencyConditions": [
							"Failed"
						]
					},
					{
						"activity": "Lookup Data file",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://prod-91.eastus.logic.azure.com:443/workflows/5c6ee5f98803419c94d3c4830be37908/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=vzyfUibJvi1cjqLbDl97OzhTB1QPK1uHouk_eKTrZ10",
					"method": "POST",
					"body": {
						"Activity": "Test",
						"Subject": "Failure No CTL",
						"pipelineName": "Test",
						"EmailTo": "Vency.Figer@Teradata.com"
					}
				}
			}
		],
		"parameters": {
			"Passed_File_Name": {
				"type": "string",
				"defaultValue": "GDD.csv.gz"
			}
		},
		"variables": {
			"Data_File_Name": {
				"type": "String"
			},
			"CTL_File_Name": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2023-06-26T09:54:30Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}