pipeline/vf186006_Parametarization_Check.json
{
	"name": "vf186006_Parametarization_Check",
	"properties": {
		"activities": [
			{
				"name": "Config File Lookup",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"dataset": {
						"referenceName": "vf186006_configfile_setup",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Copy File from input to output",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Config File Lookup",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "vf186006_source_param",
						"type": "DatasetReference",
						"parameters": {
							"sourceContainer": {
								"value": "@activity('Config File Lookup').output.firstRow.sourceContainer",
								"type": "Expression"
							},
							"sourceDirectory": {
								"value": "@activity('Config File Lookup').output.firstRow.sourceDirectory",
								"type": "Expression"
							},
							"sourceFileName": {
								"value": "@activity('Config File Lookup').output.firstRow.sourceFileName",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "vf186006_param_target",
						"type": "DatasetReference",
						"parameters": {
							"destContainer": {
								"value": "@activity('Config File Lookup').output.firstRow.destContainer",
								"type": "Expression"
							},
							"destDirectory": {
								"value": "@activity('Config File Lookup').output.firstRow.destDirectory",
								"type": "Expression"
							},
							"destFileName": {
								"value": "@activity('Config File Lookup').output.firstRow.destFileName",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Config File Lookup",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "InputFileName",
					"value": {
						"value": "@activity('Config File Lookup').output.value[1].sourceFileName",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"InputFileName": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2023-06-26T09:54:30Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}