pipeline/YP255010_Email_Notification.json
{
	"name": "YP255010_Email_Notification",
	"properties": {
		"activities": [
			{
				"name": "Extravct_CSV_FILE_NAME",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "CSV_FILE_NAME",
					"value": {
						"value": "@substring(pipeline().parameters.File_Name,0,lastindexof(pipeline().parameters.File_Name,'.'))",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Extravct_CSV_FILE_NAME",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"dataset": {
						"referenceName": "DelimitedText27",
						"type": "DatasetReference",
						"parameters": {
							"CSV_FILE_NAME": {
								"value": "@variables('CSV_FILE_NAME')",
								"type": "Expression"
							}
						}
					}
				}
			}
		],
		"parameters": {
			"File_Name": {
				"type": "string",
				"defaultValue": "RIM_V1.2_HistoryData.csv.gz"
			},
			"Container_Name": {
				"type": "string"
			},
			"Input_Directory": {
				"type": "string"
			},
			"Inbound_Directory": {
				"type": "string"
			}
		},
		"variables": {
			"CSV_FILE_NAME": {
				"type": "String"
			}
		},
		"folder": {
			"name": "yp255010"
		},
		"annotations": [],
		"lastPublishTime": "2023-06-26T09:54:10Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}