td-aa-trng-adf/linkedTemplates/ArmTemplate_24.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "td-aa-trng-adf"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/Azure_Demo_copy5')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "get data from config",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "JsonSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"wildcardFileName": "ADF*.json",
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "JsonReadSettings"
								}
							},
							"dataset": {
								"referenceName": "Json2",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "Copy_inbound_input",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "get data from config",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"wildcardFileName": "*.csv",
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "Input_File",
								"type": "DatasetReference",
								"parameters": {
									"sourceDirectory": "@activity('get data from config').output.firstRow.sourceDirectory",
									"sourceContainer": "@activity('get data from config').output.firstRow.sourceContainer",
									"sourceFileName": "@activity('get data from config').output.firstRow.sourceFileName"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "Copy_Input_File",
								"type": "DatasetReference",
								"parameters": {
									"destFileName": "@activity('get data from config').output.firstRow.destFileName",
									"destDirectory": "@activity('get data from config').output.firstRow.destDirectory",
									"destContainer": "@activity('get data from config').output.firstRow.destContainer"
								}
							}
						]
					},
					{
						"name": "Delete_Inbound",
						"type": "Delete",
						"dependsOn": [
							{
								"activity": "Copy_inbound_input",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "Input_File",
								"type": "DatasetReference",
								"parameters": {
									"sourceDirectory": "@activity('get data from config').output.firstRow.sourceDirectory",
									"sourceContainer": "@activity('get data from config').output.firstRow.sourceContainer",
									"sourceFileName": "@activity('get data from config').output.firstRow.sourceFileName"
								}
							},
							"logStorageSettings": {
								"linkedServiceName": {
									"referenceName": "adls_ls",
									"type": "LinkedServiceReference"
								}
							},
							"enableLogging": true,
							"storeSettings": {
								"type": "AzureBlobFSReadSettings",
								"recursive": true,
								"wildcardFileName": "*.csv",
								"enablePartitionDiscovery": false
							}
						}
					},
					{
						"name": "Transform_Stage",
						"type": "DatabricksNotebook",
						"dependsOn": [
							{
								"activity": "Delete_Inbound",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/np255046/Azure DB",
							"baseParameters": {
								"NPF1": {
									"value": "@pipeline().parameters.FileName",
									"type": "Expression"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "adb_ls",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "On Failure",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "Transform_Stage",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://prod-48.eastus.logic.azure.com:443/workflows/27b0503ec47a4951aa8d0a747c7ccd25/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=b2-jmvnjIJK5gSU40VFp8FnBJs5Qh8VOg1fWGj43G7Y",
							"method": "POST",
							"headers": {},
							"body": {
								"value": "{\n    \"DataFactoryName\" : \"@{pipeline().DataFactory}\",\n    \"PipelineName\" : \"@{pipeline().Pipeline}\",\n\"EmailTo\" : \"@{pipeline().parameters.EmailTo}\",\n\"FileName\":\"Airline.csv\",\n\"Subject\":\"Wrong file\"\n\n   }",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Web1",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "Transform_Stage",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://prod-20.eastus.logic.azure.com:443/workflows/144ac395e1c34d1cb5fd524e6e239575/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=o-2Wx_7w9CoOX5RTkJEZhaLrC8e5IsKBx0pOdX-lWV8",
							"method": "POST",
							"headers": {},
							"body": {
								"value": "{\n    \"DataFactoryName\" : \"@{pipeline().DataFactory}\",\n  \"PipelineName\" : \"@{pipeline().Pipeline}\",\n    \"EmailTo\" : \"@{pipeline().parameters.EmailTo}\",\n    \"FileName\":\"Airline.csv\",\n    \"Subject\":\"Successfull\"\n\n   }",
								"type": "Expression"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"FileName": {
						"type": "string",
						"defaultValue": "Airline1.csv"
					},
					"DataFactoryName": {
						"type": "string",
						"defaultValue": "adls"
					},
					"EmailTo": {
						"type": "string",
						"defaultValue": "Nisha.Pedsangi@teradata.com"
					},
					"PipelineName": {
						"type": "string",
						"defaultValue": "Azure Demo"
					}
				},
				"folder": {
					"name": "np255046"
				},
				"annotations": [],
				"lastPublishTime": "2023-06-26T09:54:12Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Azure_Demo_email')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "get data from config",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "JsonSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"wildcardFileName": "ADF*.json",
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "JsonReadSettings"
								}
							},
							"dataset": {
								"referenceName": "Json2",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "Copy_inbound_input",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "get data from config",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"wildcardFileName": "*.csv",
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "Input_File",
								"type": "DatasetReference",
								"parameters": {
									"sourceDirectory": "@activity('get data from config').output.firstRow.sourceDirectory",
									"sourceContainer": "@activity('get data from config').output.firstRow.sourceContainer",
									"sourceFileName": "@activity('get data from config').output.firstRow.sourceFileName"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "Copy_Input_File",
								"type": "DatasetReference",
								"parameters": {
									"destFileName": "@activity('get data from config').output.firstRow.destFileName",
									"destDirectory": "@activity('get data from config').output.firstRow.destDirectory",
									"destContainer": "@activity('get data from config').output.firstRow.destContainer"
								}
							}
						]
					},
					{
						"name": "Delete_Inbound",
						"type": "Delete",
						"dependsOn": [
							{
								"activity": "Copy_inbound_input",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "Input_File",
								"type": "DatasetReference",
								"parameters": {
									"sourceDirectory": "@activity('get data from config').output.firstRow.sourceDirectory",
									"sourceContainer": "@activity('get data from config').output.firstRow.sourceContainer",
									"sourceFileName": "@activity('get data from config').output.firstRow.sourceFileName"
								}
							},
							"logStorageSettings": {
								"linkedServiceName": {
									"referenceName": "adls_ls",
									"type": "LinkedServiceReference"
								}
							},
							"enableLogging": true,
							"storeSettings": {
								"type": "AzureBlobFSReadSettings",
								"recursive": true,
								"wildcardFileName": "*.csv",
								"enablePartitionDiscovery": false
							}
						}
					},
					{
						"name": "Transform_Stage",
						"type": "DatabricksNotebook",
						"dependsOn": [
							{
								"activity": "Delete_Inbound",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/np255046/Azure DB"
						},
						"linkedServiceName": {
							"referenceName": "adb_ls",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "np255046"
				},
				"annotations": [],
				"lastPublishTime": "2023-06-26T09:54:13Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Azure_Demo_validation')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "get data from config",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "Validation1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "JsonSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"wildcardFileName": "ADF*.json",
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "JsonReadSettings"
								}
							},
							"dataset": {
								"referenceName": "Json2",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "Copy_inbound_input",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "get data from config",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"wildcardFileName": "*.csv",
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "Input_File",
								"type": "DatasetReference",
								"parameters": {
									"sourceDirectory": "@activity('get data from config').output.firstRow.sourceDirectory",
									"sourceContainer": "@activity('get data from config').output.firstRow.sourceContainer",
									"sourceFileName": "@activity('get data from config').output.firstRow.sourceFileName"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "Copy_Input_File",
								"type": "DatasetReference",
								"parameters": {
									"destFileName": "@activity('get data from config').output.firstRow.destFileName",
									"destDirectory": "@activity('get data from config').output.firstRow.destDirectory",
									"destContainer": "@activity('get data from config').output.firstRow.destContainer"
								}
							}
						]
					},
					{
						"name": "Delete_Inbound",
						"type": "Delete",
						"dependsOn": [
							{
								"activity": "Copy_inbound_input",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "Input_File",
								"type": "DatasetReference",
								"parameters": {
									"sourceDirectory": "@activity('get data from config').output.firstRow.sourceDirectory",
									"sourceContainer": "@activity('get data from config').output.firstRow.sourceContainer",
									"sourceFileName": "@activity('get data from config').output.firstRow.sourceFileName"
								}
							},
							"logStorageSettings": {
								"linkedServiceName": {
									"referenceName": "adls_ls",
									"type": "LinkedServiceReference"
								}
							},
							"enableLogging": true,
							"storeSettings": {
								"type": "AzureBlobFSReadSettings",
								"recursive": true,
								"wildcardFileName": "*.csv",
								"enablePartitionDiscovery": false
							}
						}
					},
					{
						"name": "Transform_Stage",
						"type": "DatabricksNotebook",
						"dependsOn": [
							{
								"activity": "Delete_Inbound",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/np255046/Azure DB"
						},
						"linkedServiceName": {
							"referenceName": "adb_ls",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Validation1",
						"type": "Validation",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "DelimitedText58",
								"type": "DatasetReference",
								"parameters": {
									"sourceFileName": "@activity('get data from config').output.firstRow.sourceFileName",
									"sourceDirectory": "@activity('get data from config').output.firstRow.sourceDirectory",
									"sourceContainer": "@activity('get data from config').output.firstRow.sourceContainer"
								}
							},
							"timeout": "0.12:00:00",
							"sleep": 10
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "np255046"
				},
				"annotations": [],
				"lastPublishTime": "2023-06-26T09:54:14Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Blob_CSV_To_Azure_Delta_Lake_Table')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Switch to load respective files",
						"type": "Switch",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"on": {
								"value": "@pipeline().parameters.Tgt_Table_Name",
								"type": "Expression"
							},
							"cases": [
								{
									"value": "circuits",
									"activities": [
										{
											"name": "Copy Blob File To Delta Lake Circuits",
											"type": "Copy",
											"dependsOn": [],
											"policy": {
												"timeout": "0.12:00:00",
												"retry": 0,
												"retryIntervalInSeconds": 30,
												"secureOutput": false,
												"secureInput": false
											},
											"userProperties": [],
											"typeProperties": {
												"source": {
													"type": "DelimitedTextSource",
													"storeSettings": {
														"type": "AzureBlobStorageReadSettings",
														"recursive": true,
														"enablePartitionDiscovery": false
													},
													"formatSettings": {
														"type": "DelimitedTextReadSettings",
														"skipLineCount": 1
													}
												},
												"sink": {
													"type": "AzureDatabricksDeltaLakeSink",
													"preCopyScript": {
														"value": "@{concat('truncate table mp255107.',pipeline().parameters.Tgt_Table_Name)}",
														"type": "Expression"
													},
													"importSettings": {
														"type": "AzureDatabricksDeltaLakeImportCommand"
													}
												},
												"enableStaging": true,
												"stagingSettings": {
													"linkedServiceName": {
														"referenceName": "AzureBlobStorage",
														"type": "LinkedServiceReference"
													},
													"path": "mp255107/unzip"
												},
												"translator": {
													"type": "TabularTranslator",
													"mappings": [
														{
															"source": {
																"type": "String",
																"ordinal": 1
															},
															"sink": {
																"name": "circuitId",
																"type": "String"
															}
														},
														{
															"source": {
																"type": "String",
																"ordinal": 2
															},
															"sink": {
																"name": "circuitRef",
																"type": "String"
															}
														},
														{
															"source": {
																"type": "String",
																"ordinal": 3
															},
															"sink": {
																"name": "name",
																"type": "String"
															}
														},
														{
															"source": {
																"type": "String",
																"ordinal": 4
															},
															"sink": {
																"name": "location",
																"type": "String"
															}
														},
														{
															"source": {
																"type": "String",
																"ordinal": 5
															},
															"sink": {
																"name": "country",
																"type": "String"
															}
														},
														{
															"source": {
																"type": "String",
																"ordinal": 6
															},
															"sink": {
																"name": "lat",
																"type": "String"
															}
														},
														{
															"source": {
																"type": "String",
																"ordinal": 7
															},
															"sink": {
																"name": "lng",
																"type": "String"
															}
														},
														{
															"source": {
																"type": "String",
																"ordinal": 8
															},
															"sink": {
																"name": "alt",
																"type": "String"
															}
														},
														{
															"source": {
																"type": "String",
																"ordinal": 9
															},
															"sink": {
																"name": "url",
																"type": "String"
															}
														}
													]
												}
											},
											"inputs": [
												{
													"referenceName": "AzureBlob_CSV",
													"type": "DatasetReference",
													"parameters": {
														"Container": "mp255107",
														"Directory": "Erghast_Data/input/",
														"FileName": {
															"value": "@pipeline().parameters.Src_File_Name",
															"type": "Expression"
														}
													}
												}
											],
											"outputs": [
												{
													"referenceName": "AzureDatabricksDeltaLakeDataset_MP255107",
													"type": "DatasetReference",
													"parameters": {
														"Database_Name": "MP255107",
														"Table_Name": {
															"value": "@pipeline().parameters.Tgt_Table_Name",
															"type": "Expression"
														}
													}
												}
											]
										}
									]
								},
								{
									"value": "constructor_results",
									"activities": [
										{
											"name": "Copy Blob File To Delta Lake constructor_results",
											"type": "Copy",
											"dependsOn": [],
											"policy": {
												"timeout": "0.12:00:00",
												"retry": 0,
												"retryIntervalInSeconds": 30,
												"secureOutput": false,
												"secureInput": false
											},
											"userProperties": [],
											"typeProperties": {
												"source": {
													"type": "DelimitedTextSource",
													"storeSettings": {
														"type": "AzureBlobStorageReadSettings",
														"recursive": true,
														"enablePartitionDiscovery": false
													},
													"formatSettings": {
														"type": "DelimitedTextReadSettings",
														"skipLineCount": 1
													}
												},
												"sink": {
													"type": "AzureDatabricksDeltaLakeSink",
													"preCopyScript": {
														"value": "@{concat('truncate table mp255107.',pipeline().parameters.Tgt_Table_Name)}",
														"type": "Expression"
													},
													"importSettings": {
														"type": "AzureDatabricksDeltaLakeImportCommand"
													}
												},
												"enableStaging": true,
												"stagingSettings": {
													"linkedServiceName": {
														"referenceName": "AzureBlobStorage",
														"type": "LinkedServiceReference"
													},
													"path": "mp255107/unzip"
												},
												"translator": {
													"type": "TabularTranslator",
													"mappings": [
														{
															"source": {
																"type": "String",
																"ordinal": 1
															},
															"sink": {
																"name": "constructorResultsId",
																"type": "String"
															}
														},
														{
															"source": {
																"type": "String",
																"ordinal": 2
															},
															"sink": {
																"name": "raceId",
																"type": "String"
															}
														},
														{
															"source": {
																"type": "String",
																"ordinal": 3
															},
															"sink": {
																"name": "constructorId",
																"type": "String"
															}
														},
														{
															"source": {
																"type": "String",
																"ordinal": 4
															},
															"sink": {
																"name": "points",
																"type": "String"
															}
														},
														{
															"source": {
																"type": "String",
																"ordinal": 5
															},
															"sink": {
																"name": "status",
																"type": "String"
															}
														}
													]
												}
											},
											"inputs": [
												{
													"referenceName": "AzureBlob_CSV",
													"type": "DatasetReference",
													"parameters": {
														"Container": "mp255107",
														"Directory": "Erghast_Data/input/",
														"FileName": {
															"value": "@pipeline().parameters.Src_File_Name",
															"type": "Expression"
														}
													}
												}
											],
											"outputs": [
												{
													"referenceName": "AzureDatabricksDeltaLakeDataset_MP255107",
													"type": "DatasetReference",
													"parameters": {
														"Database_Name": "MP255107",
														"Table_Name": {
															"value": "@pipeline().parameters.Tgt_Table_Name",
															"type": "Expression"
														}
													}
												}
											]
										}
									]
								},
								{
									"value": "constructor_standings",
									"activities": [
										{
											"name": "Copy Blob File To Delta Lake Constructor_Standings",
											"type": "Copy",
											"dependsOn": [],
											"policy": {
												"timeout": "0.12:00:00",
												"retry": 0,
												"retryIntervalInSeconds": 30,
												"secureOutput": false,
												"secureInput": false
											},
											"userProperties": [],
											"typeProperties": {
												"source": {
													"type": "DelimitedTextSource",
													"storeSettings": {
														"type": "AzureBlobStorageReadSettings",
														"recursive": true,
														"enablePartitionDiscovery": false
													},
													"formatSettings": {
														"type": "DelimitedTextReadSettings",
														"skipLineCount": 1
													}
												},
												"sink": {
													"type": "AzureDatabricksDeltaLakeSink",
													"preCopyScript": {
														"value": "@{concat('truncate table mp255107.',pipeline().parameters.Tgt_Table_Name)}",
														"type": "Expression"
													},
													"importSettings": {
														"type": "AzureDatabricksDeltaLakeImportCommand"
													}
												},
												"enableStaging": true,
												"stagingSettings": {
													"linkedServiceName": {
														"referenceName": "AzureBlobStorage",
														"type": "LinkedServiceReference"
													},
													"path": "mp255107/unzip"
												},
												"translator": {
													"type": "TabularTranslator",
													"mappings": [
														{
															"source": {
																"type": "String",
																"ordinal": 1
															},
															"sink": {
																"name": "constructorStandingsId",
																"type": "String"
															}
														},
														{
															"source": {
																"type": "String",
																"ordinal": 2
															},
															"sink": {
																"name": "raceId",
																"type": "String"
															}
														},
														{
															"source": {
																"type": "String",
																"ordinal": 3
															},
															"sink": {
																"name": "constructorId",
																"type": "String"
															}
														},
														{
															"source": {
																"type": "String",
																"ordinal": 4
															},
															"sink": {
																"name": "points",
																"type": "String"
															}
														},
														{
															"source": {
																"type": "String",
																"ordinal": 5
															},
															"sink": {
																"name": "position",
																"type": "String"
															}
														},
														{
															"source": {
																"type": "String",
																"ordinal": 6
															},
															"sink": {
																"name": "positionText",
																"type": "String"
															}
														},
														{
															"source": {
																"type": "String",
																"ordinal": 7
															},
															"sink": {
																"name": "wins",
																"type": "String"
															}
														}
													]
												}
											},
											"inputs": [
												{
													"referenceName": "AzureBlob_CSV",
													"type": "DatasetReference",
													"parameters": {
														"Container": "mp255107",
														"Directory": "Erghast_Data/input/",
														"FileName": {
															"value": "@pipeline().parameters.Src_File_Name",
															"type": "Expression"
														}
													}
												}
											],
											"outputs": [
												{
													"referenceName": "AzureDatabricksDeltaLakeDataset_MP255107",
													"type": "DatasetReference",
													"parameters": {
														"Database_Name": "MP255107",
														"Table_Name": {
															"value": "@pipeline().parameters.Tgt_Table_Name",
															"type": "Expression"
														}
													}
												}
											]
										}
									]
								},
								{
									"value": "constructors",
									"activities": [
										{
											"name": "Copy Blob File To Delta Lake constructors",
											"type": "Copy",
											"dependsOn": [],
											"policy": {
												"timeout": "0.12:00:00",
												"retry": 0,
												"retryIntervalInSeconds": 30,
												"secureOutput": false,
												"secureInput": false
											},
											"userProperties": [],
											"typeProperties": {
												"source": {
													"type": "DelimitedTextSource",
													"storeSettings": {
														"type": "AzureBlobStorageReadSettings",
														"recursive": true,
														"enablePartitionDiscovery": false
													},
													"formatSettings": {
														"type": "DelimitedTextReadSettings",
														"skipLineCount": 1
													}
												},
												"sink": {
													"type": "AzureDatabricksDeltaLakeSink",
													"preCopyScript": {
														"value": "@{concat('truncate table mp255107.',pipeline().parameters.Tgt_Table_Name)}",
														"type": "Expression"
													},
													"importSettings": {
														"type": "AzureDatabricksDeltaLakeImportCommand"
													}
												},
												"enableStaging": true,
												"stagingSettings": {
													"linkedServiceName": {
														"referenceName": "AzureBlobStorage",
														"type": "LinkedServiceReference"
													},
													"path": "mp255107/unzip"
												},
												"translator": {
													"type": "TabularTranslator",
													"mappings": [
														{
															"source": {
																"type": "String",
																"ordinal": 1
															},
															"sink": {
																"name": "constructorId",
																"type": "String"
															}
														},
														{
															"source": {
																"type": "String",
																"ordinal": 2
															},
															"sink": {
																"name": "constructorRef",
																"type": "String"
															}
														},
														{
															"source": {
																"type": "String",
																"ordinal": 3
															},
															"sink": {
																"name": "name",
																"type": "String"
															}
														},
														{
															"source": {
																"type": "String",
																"ordinal": 4
															},
															"sink": {
																"name": "nationality",
																"type": "String"
															}
														},
														{
															"source": {
																"type": "String",
																"ordinal": 5
															},
															"sink": {
																"name": "url",
																"type": "String"
															}
														}
													]
												}
											},
											"inputs": [
												{
													"referenceName": "AzureBlob_CSV",
													"type": "DatasetReference",
													"parameters": {
														"Container": "mp255107",
														"Directory": "Erghast_Data/input/",
														"FileName": {
															"value": "@pipeline().parameters.Src_File_Name",
															"type": "Expression"
														}
													}
												}
											],
											"outputs": [
												{
													"referenceName": "AzureDatabricksDeltaLakeDataset_MP255107",
													"type": "DatasetReference",
													"parameters": {
														"Database_Name": "MP255107",
														"Table_Name": {
															"value": "@pipeline().parameters.Tgt_Table_Name",
															"type": "Expression"
														}
													}
												}
											]
										}
									]
								},
								{
									"value": "driver_standings",
									"activities": [
										{
											"name": "Copy Blob File To Delta Lake driver_standings",
											"type": "Copy",
											"dependsOn": [],
											"policy": {
												"timeout": "0.12:00:00",
												"retry": 0,
												"retryIntervalInSeconds": 30,
												"secureOutput": false,
												"secureInput": false
											},
											"userProperties": [],
											"typeProperties": {
												"source": {
													"type": "DelimitedTextSource",
													"storeSettings": {
														"type": "AzureBlobStorageReadSettings",
														"recursive": true,
														"enablePartitionDiscovery": false
													},
													"formatSettings": {
														"type": "DelimitedTextReadSettings",
														"skipLineCount": 1
													}
												},
												"sink": {
													"type": "AzureDatabricksDeltaLakeSink",
													"preCopyScript": {
														"value": "@{concat('truncate table mp255107.',pipeline().parameters.Tgt_Table_Name)}",
														"type": "Expression"
													},
													"importSettings": {
														"type": "AzureDatabricksDeltaLakeImportCommand"
													}
												},
												"enableStaging": true,
												"stagingSettings": {
													"linkedServiceName": {
														"referenceName": "AzureBlobStorage",
														"type": "LinkedServiceReference"
													},
													"path": "mp255107/unzip"
												},
												"translator": {
													"type": "TabularTranslator",
													"mappings": [
														{
															"source": {
																"type": "String",
																"ordinal": 1
															},
															"sink": {
																"name": "driverStandingsId",
																"type": "String"
															}
														},
														{
															"source": {
																"type": "String",
																"ordinal": 2
															},
															"sink": {
																"name": "raceId",
																"type": "String"
															}
														},
														{
															"source": {
																"type": "String",
																"ordinal": 3
															},
															"sink": {
																"name": "driverId",
																"type": "String"
															}
														},
														{
															"source": {
																"type": "String",
																"ordinal": 4
															},
															"sink": {
																"name": "points",
																"type": "String"
															}
														},
														{
															"source": {
																"type": "String",
																"ordinal": 5
															},
															"sink": {
																"name": "position",
																"type": "String"
															}
														},
														{
															"source": {
																"type": "String",
																"ordinal": 6
															},
															"sink": {
																"name": "positionText",
																"type": "String"
															}
														},
														{
															"source": {
																"type": "String",
																"ordinal": 7
															},
															"sink": {
																"name": "wins",
																"type": "String"
															}
														}
													]
												}
											},
											"inputs": [
												{
													"referenceName": "AzureBlob_CSV",
													"type": "DatasetReference",
													"parameters": {
														"Container": "mp255107",
														"Directory": "Erghast_Data/input/",
														"FileName": {
															"value": "@pipeline().parameters.Src_File_Name",
															"type": "Expression"
														}
													}
												}
											],
											"outputs": [
												{
													"referenceName": "AzureDatabricksDeltaLakeDataset_MP255107",
													"type": "DatasetReference",
													"parameters": {
														"Database_Name": "MP255107",
														"Table_Name": {
															"value": "@pipeline().parameters.Tgt_Table_Name",
															"type": "Expression"
														}
													}
												}
											]
										}
									]
								},
								{
									"value": "drivers",
									"activities": [
										{
											"name": "Copy Blob File To Delta Lake drivers",
											"type": "Copy",
											"dependsOn": [],
											"policy": {
												"timeout": "0.12:00:00",
												"retry": 0,
												"retryIntervalInSeconds": 30,
												"secureOutput": false,
												"secureInput": false
											},
											"userProperties": [],
											"typeProperties": {
												"source": {
													"type": "DelimitedTextSource",
													"storeSettings": {
														"type": "AzureBlobStorageReadSettings",
														"recursive": true,
														"enablePartitionDiscovery": false
													},
													"formatSettings": {
														"type": "DelimitedTextReadSettings",
														"skipLineCount": 1
													}
												},
												"sink": {
													"type": "AzureDatabricksDeltaLakeSink",
													"preCopyScript": {
														"value": "@{concat('truncate table mp255107.',pipeline().parameters.Tgt_Table_Name)}",
														"type": "Expression"
													},
													"importSettings": {
														"type": "AzureDatabricksDeltaLakeImportCommand"
													}
												},
												"enableStaging": true,
												"stagingSettings": {
													"linkedServiceName": {
														"referenceName": "AzureBlobStorage",
														"type": "LinkedServiceReference"
													},
													"path": "mp255107/unzip"
												},
												"translator": {
													"type": "TabularTranslator",
													"mappings": [
														{
															"source": {
																"type": "String",
																"ordinal": 1
															},
															"sink": {
																"name": "driverId",
																"type": "String"
															}
														},
														{
															"source": {
																"type": "String",
																"ordinal": 2
															},
															"sink": {
																"name": "driverRef",
																"type": "String"
															}
														},
														{
															"source": {
																"type": "String",
																"ordinal": 3
															},
															"sink": {
																"name": "number",
																"type": "String"
															}
														},
														{
															"source": {
																"type": "String",
																"ordinal": 4
															},
															"sink": {
																"name": "code",
																"type": "String"
															}
														},
														{
															"source": {
																"type": "String",
																"ordinal": 5
															},
															"sink": {
																"name": "forename",
																"type": "String"
															}
														},
														{
															"source": {
																"type": "String",
																"ordinal": 6
															},
															"sink": {
																"name": "surname",
																"type": "String"
															}
														},
														{
															"source": {
																"type": "String",
																"ordinal": 7
															},
															"sink": {
																"name": "dob",
																"type": "String"
															}
														},
														{
															"source": {
																"type": "String",
																"ordinal": 8
															},
															"sink": {
																"name": "nationality",
																"type": "String"
															}
														},
														{
															"source": {
																"type": "String",
																"ordinal": 9
															},
															"sink": {
																"name": "url",
																"type": "String"
															}
														}
													]
												}
											},
											"inputs": [
												{
													"referenceName": "AzureBlob_CSV",
													"type": "DatasetReference",
													"parameters": {
														"Container": "mp255107",
														"Directory": "Erghast_Data/input/",
														"FileName": {
															"value": "@pipeline().parameters.Src_File_Name",
															"type": "Expression"
														}
													}
												}
											],
											"outputs": [
												{
													"referenceName": "AzureDatabricksDeltaLakeDataset_MP255107",
													"type": "DatasetReference",
													"parameters": {
														"Database_Name": "MP255107",
														"Table_Name": {
															"value": "@pipeline().parameters.Tgt_Table_Name",
															"type": "Expression"
														}
													}
												}
											]
										}
									]
								},
								{
									"value": "lap_times",
									"activities": [
										{
											"name": "Copy Blob File To Delta Lake lap_times",
											"type": "Copy",
											"dependsOn": [],
											"policy": {
												"timeout": "0.12:00:00",
												"retry": 0,
												"retryIntervalInSeconds": 30,
												"secureOutput": false,
												"secureInput": false
											},
											"userProperties": [],
											"typeProperties": {
												"source": {
													"type": "DelimitedTextSource",
													"storeSettings": {
														"type": "AzureBlobStorageReadSettings",
														"recursive": true,
														"enablePartitionDiscovery": false
													},
													"formatSettings": {
														"type": "DelimitedTextReadSettings",
														"skipLineCount": 1
													}
												},
												"sink": {
													"type": "AzureDatabricksDeltaLakeSink",
													"preCopyScript": {
														"value": "@{concat('truncate table mp255107.',pipeline().parameters.Tgt_Table_Name)}",
														"type": "Expression"
													},
													"importSettings": {
														"type": "AzureDatabricksDeltaLakeImportCommand"
													}
												},
												"enableStaging": true,
												"stagingSettings": {
													"linkedServiceName": {
														"referenceName": "AzureBlobStorage",
														"type": "LinkedServiceReference"
													},
													"path": "mp255107/unzip"
												},
												"translator": {
													"type": "TabularTranslator",
													"mappings": [
														{
															"source": {
																"type": "String",
																"ordinal": 1
															},
															"sink": {
																"name": "raceId",
																"type": "String"
															}
														},
														{
															"source": {
																"type": "String",
																"ordinal": 2
															},
															"sink": {
																"name": "driverId",
																"type": "String"
															}
														},
														{
															"source": {
																"type": "String",
																"ordinal": 3
															},
															"sink": {
																"name": "lap",
																"type": "String"
															}
														},
														{
															"source": {
																"type": "String",
																"ordinal": 4
															},
															"sink": {
																"name": "position",
																"type": "String"
															}
														},
														{
															"source": {
																"type": "String",
																"ordinal": 5
															},
															"sink": {
																"name": "time",
																"type": "String"
															}
														},
														{
															"source": {
																"type": "String",
																"ordinal": 6
															},
															"sink": {
																"name": "milliseconds",
																"type": "String"
															}
														}
													]
												}
											},
											"inputs": [
												{
													"referenceName": "AzureBlob_CSV",
													"type": "DatasetReference",
													"parameters": {
														"Container": "mp255107",
														"Directory": "Erghast_Data/input/",
														"FileName": {
															"value": "@pipeline().parameters.Src_File_Name",
															"type": "Expression"
														}
													}
												}
											],
											"outputs": [
												{
													"referenceName": "AzureDatabricksDeltaLakeDataset_MP255107",
													"type": "DatasetReference",
													"parameters": {
														"Database_Name": "MP255107",
														"Table_Name": {
															"value": "@pipeline().parameters.Tgt_Table_Name",
															"type": "Expression"
														}
													}
												}
											]
										}
									]
								},
								{
									"value": "pit_stops",
									"activities": [
										{
											"name": "Copy Blob File To Delta Lake pit_stops",
											"type": "Copy",
											"dependsOn": [],
											"policy": {
												"timeout": "0.12:00:00",
												"retry": 0,
												"retryIntervalInSeconds": 30,
												"secureOutput": false,
												"secureInput": false
											},
											"userProperties": [],
											"typeProperties": {
												"source": {
													"type": "DelimitedTextSource",
													"storeSettings": {
														"type": "AzureBlobStorageReadSettings",
														"recursive": true,
														"enablePartitionDiscovery": false
													},
													"formatSettings": {
														"type": "DelimitedTextReadSettings",
														"skipLineCount": 1
													}
												},
												"sink": {
													"type": "AzureDatabricksDeltaLakeSink",
													"preCopyScript": {
														"value": "@{concat('truncate table mp255107.',pipeline().parameters.Tgt_Table_Name)}",
														"type": "Expression"
													},
													"importSettings": {
														"type": "AzureDatabricksDeltaLakeImportCommand"
													}
												},
												"enableStaging": true,
												"stagingSettings": {
													"linkedServiceName": {
														"referenceName": "AzureBlobStorage",
														"type": "LinkedServiceReference"
													},
													"path": "mp255107/unzip"
												},
												"translator": {
													"type": "TabularTranslator",
													"mappings": [
														{
															"source": {
																"type": "String",
																"ordinal": 1
															},
															"sink": {
																"name": "raceId",
																"type": "String"
															}
														},
														{
															"source": {
																"type": "String",
																"ordinal": 2
															},
															"sink": {
																"name": "driverId",
																"type": "String"
															}
														},
														{
															"source": {
																"type": "String",
																"ordinal": 3
															},
															"sink": {
																"name": "stop",
																"type": "String"
															}
														},
														{
															"source": {
																"type": "String",
																"ordinal": 4
															},
															"sink": {
																"name": "lap",
																"type": "String"
															}
														},
														{
															"source": {
																"type": "String",
																"ordinal": 5
															},
															"sink": {
																"name": "time",
																"type": "String"
															}
														},
														{
															"source": {
																"type": "String",
																"ordinal": 6
															},
															"sink": {
																"name": "duration",
																"type": "String"
															}
														},
														{
															"source": {
																"type": "String",
																"ordinal": 7
															},
															"sink": {
																"name": "milliseconds",
																"type": "String"
															}
														}
													]
												}
											},
											"inputs": [
												{
													"referenceName": "AzureBlob_CSV",
													"type": "DatasetReference",
													"parameters": {
														"Container": "mp255107",
														"Directory": "Erghast_Data/input/",
														"FileName": {
															"value": "@pipeline().parameters.Src_File_Name",
															"type": "Expression"
														}
													}
												}
											],
											"outputs": [
												{
													"referenceName": "AzureDatabricksDeltaLakeDataset_MP255107",
													"type": "DatasetReference",
													"parameters": {
														"Database_Name": "MP255107",
														"Table_Name": {
															"value": "@pipeline().parameters.Tgt_Table_Name",
															"type": "Expression"
														}
													}
												}
											]
										}
									]
								},
								{
									"value": "qualifying",
									"activities": [
										{
											"name": "Copy Blob File To Delta Lake qualifying",
											"type": "Copy",
											"dependsOn": [],
											"policy": {
												"timeout": "0.12:00:00",
												"retry": 0,
												"retryIntervalInSeconds": 30,
												"secureOutput": false,
												"secureInput": false
											},
											"userProperties": [],
											"typeProperties": {
												"source": {
													"type": "DelimitedTextSource",
													"storeSettings": {
														"type": "AzureBlobStorageReadSettings",
														"recursive": true,
														"enablePartitionDiscovery": false
													},
													"formatSettings": {
														"type": "DelimitedTextReadSettings",
														"skipLineCount": 1
													}
												},
												"sink": {
													"type": "AzureDatabricksDeltaLakeSink",
													"preCopyScript": {
														"value": "@{concat('truncate table mp255107.',pipeline().parameters.Tgt_Table_Name)}",
														"type": "Expression"
													},
													"importSettings": {
														"type": "AzureDatabricksDeltaLakeImportCommand"
													}
												},
												"enableStaging": true,
												"stagingSettings": {
													"linkedServiceName": {
														"referenceName": "AzureBlobStorage",
														"type": "LinkedServiceReference"
													},
													"path": "mp255107/unzip"
												},
												"translator": {
													"type": "TabularTranslator",
													"mappings": [
														{
															"source": {
																"type": "String",
																"ordinal": 1
															},
															"sink": {
																"name": "qualifyId",
																"type": "String"
															}
														},
														{
															"source": {
																"type": "String",
																"ordinal": 2
															},
															"sink": {
																"name": "raceId",
																"type": "String"
															}
														},
														{
															"source": {
																"type": "String",
																"ordinal": 3
															},
															"sink": {
																"name": "driverId",
																"type": "String"
															}
														},
														{
															"source": {
																"type": "String",
																"ordinal": 4
															},
															"sink": {
																"name": "constructorId",
																"type": "String"
															}
														},
														{
															"source": {
																"type": "String",
																"ordinal": 5
															},
															"sink": {
																"name": "number",
																"type": "String"
															}
														},
														{
															"source": {
																"type": "String",
																"ordinal": 6
															},
															"sink": {
																"name": "position",
																"type": "String"
															}
														},
														{
															"source": {
																"type": "String",
																"ordinal": 7
															},
															"sink": {
																"name": "q1",
																"type": "String"
															}
														},
														{
															"source": {
																"type": "String",
																"ordinal": 8
															},
															"sink": {
																"name": "q2",
																"type": "String"
															}
														},
														{
															"source": {
																"type": "String",
																"ordinal": 9
															},
															"sink": {
																"name": "q3",
																"type": "String"
															}
														}
													]
												}
											},
											"inputs": [
												{
													"referenceName": "AzureBlob_CSV",
													"type": "DatasetReference",
													"parameters": {
														"Container": "mp255107",
														"Directory": "Erghast_Data/input/",
														"FileName": {
															"value": "@pipeline().parameters.Src_File_Name",
															"type": "Expression"
														}
													}
												}
											],
											"outputs": [
												{
													"referenceName": "AzureDatabricksDeltaLakeDataset_MP255107",
													"type": "DatasetReference",
													"parameters": {
														"Database_Name": "MP255107",
														"Table_Name": {
															"value": "@pipeline().parameters.Tgt_Table_Name",
															"type": "Expression"
														}
													}
												}
											]
										}
									]
								},
								{
									"value": "races",
									"activities": [
										{
											"name": "Copy Blob File To Delta Lake races",
											"type": "Copy",
											"dependsOn": [],
											"policy": {
												"timeout": "0.12:00:00",
												"retry": 0,
												"retryIntervalInSeconds": 30,
												"secureOutput": false,
												"secureInput": false
											},
											"userProperties": [],
											"typeProperties": {
												"source": {
													"type": "DelimitedTextSource",
													"storeSettings": {
														"type": "AzureBlobStorageReadSettings",
														"recursive": true,
														"enablePartitionDiscovery": false
													},
													"formatSettings": {
														"type": "DelimitedTextReadSettings",
														"skipLineCount": 1
													}
												},
												"sink": {
													"type": "AzureDatabricksDeltaLakeSink",
													"preCopyScript": {
														"value": "@{concat('truncate table mp255107.',pipeline().parameters.Tgt_Table_Name)}",
														"type": "Expression"
													},
													"importSettings": {
														"type": "AzureDatabricksDeltaLakeImportCommand"
													}
												},
												"enableStaging": true,
												"stagingSettings": {
													"linkedServiceName": {
														"referenceName": "AzureBlobStorage",
														"type": "LinkedServiceReference"
													},
													"path": "mp255107/unzip"
												},
												"translator": {
													"type": "TabularTranslator",
													"mappings": [
														{
															"source": {
																"type": "String",
																"ordinal": 1
															},
															"sink": {
																"name": "raceId",
																"type": "String"
															}
														},
														{
															"source": {
																"type": "String",
																"ordinal": 2
															},
															"sink": {
																"name": "year",
																"type": "String"
															}
														},
														{
															"source": {
																"type": "String",
																"ordinal": 3
															},
															"sink": {
																"name": "round",
																"type": "String"
															}
														},
														{
															"source": {
																"type": "String",
																"ordinal": 4
															},
															"sink": {
																"name": "circuitId",
																"type": "String"
															}
														},
														{
															"source": {
																"type": "String",
																"ordinal": 5
															},
															"sink": {
																"name": "name",
																"type": "String"
															}
														},
														{
															"source": {
																"type": "String",
																"ordinal": 6
															},
															"sink": {
																"name": "date",
																"type": "String"
															}
														},
														{
															"source": {
																"type": "String",
																"ordinal": 7
															},
															"sink": {
																"name": "time",
																"type": "String"
															}
														},
														{
															"source": {
																"type": "String",
																"ordinal": 8
															},
															"sink": {
																"name": "url",
																"type": "String"
															}
														},
														{
															"source": {
																"type": "String",
																"ordinal": 9
															},
															"sink": {
																"name": "fp1_date",
																"type": "String"
															}
														},
														{
															"source": {
																"type": "String",
																"ordinal": 10
															},
															"sink": {
																"name": "fp1_time",
																"type": "String"
															}
														},
														{
															"source": {
																"type": "String",
																"ordinal": 11
															},
															"sink": {
																"name": "fp2_date",
																"type": "String"
															}
														},
														{
															"source": {
																"type": "String",
																"ordinal": 12
															},
															"sink": {
																"name": "fp2_time",
																"type": "String"
															}
														},
														{
															"source": {
																"type": "String",
																"ordinal": 13
															},
															"sink": {
																"name": "fp3_date",
																"type": "String"
															}
														},
														{
															"source": {
																"type": "String",
																"ordinal": 14
															},
															"sink": {
																"name": "fp3_time",
																"type": "String"
															}
														},
														{
															"source": {
																"type": "String",
																"ordinal": 15
															},
															"sink": {
																"name": "quali_date",
																"type": "String"
															}
														},
														{
															"source": {
																"type": "String",
																"ordinal": 16
															},
															"sink": {
																"name": "quali_time",
																"type": "String"
															}
														},
														{
															"source": {
																"type": "String",
																"ordinal": 17
															},
															"sink": {
																"name": "sprint_date",
																"type": "String"
															}
														},
														{
															"source": {
																"type": "String",
																"ordinal": 18
															},
															"sink": {
																"name": "sprint_time",
																"type": "String"
															}
														}
													]
												}
											},
											"inputs": [
												{
													"referenceName": "AzureBlob_CSV",
													"type": "DatasetReference",
													"parameters": {
														"Container": "mp255107",
														"Directory": "Erghast_Data/input/",
														"FileName": {
															"value": "@pipeline().parameters.Src_File_Name",
															"type": "Expression"
														}
													}
												}
											],
											"outputs": [
												{
													"referenceName": "AzureDatabricksDeltaLakeDataset_MP255107",
													"type": "DatasetReference",
													"parameters": {
														"Database_Name": "MP255107",
														"Table_Name": {
															"value": "@pipeline().parameters.Tgt_Table_Name",
															"type": "Expression"
														}
													}
												}
											]
										}
									]
								},
								{
									"value": "results",
									"activities": [
										{
											"name": "Copy Blob File To Delta Lake Circuits_copy8",
											"type": "Copy",
											"dependsOn": [],
											"policy": {
												"timeout": "0.12:00:00",
												"retry": 0,
												"retryIntervalInSeconds": 30,
												"secureOutput": false,
												"secureInput": false
											},
											"userProperties": [],
											"typeProperties": {
												"source": {
													"type": "DelimitedTextSource",
													"storeSettings": {
														"type": "AzureBlobStorageReadSettings",
														"recursive": true,
														"enablePartitionDiscovery": false
													},
													"formatSettings": {
														"type": "DelimitedTextReadSettings",
														"skipLineCount": 1
													}
												},
												"sink": {
													"type": "AzureDatabricksDeltaLakeSink",
													"preCopyScript": {
														"value": "@{concat('truncate table mp255107.',pipeline().parameters.Tgt_Table_Name)}",
														"type": "Expression"
													},
													"importSettings": {
														"type": "AzureDatabricksDeltaLakeImportCommand"
													}
												},
												"enableStaging": true,
												"stagingSettings": {
													"linkedServiceName": {
														"referenceName": "AzureBlobStorage",
														"type": "LinkedServiceReference"
													},
													"path": "mp255107/unzip"
												},
												"translator": {
													"type": "TabularTranslator",
													"mappings": [
														{
															"source": {
																"type": "String",
																"ordinal": 1
															},
															"sink": {
																"name": "resultId",
																"type": "String"
															}
														},
														{
															"source": {
																"type": "String",
																"ordinal": 2
															},
															"sink": {
																"name": "raceId",
																"type": "String"
															}
														},
														{
															"source": {
																"type": "String",
																"ordinal": 3
															},
															"sink": {
																"name": "driverId",
																"type": "String"
															}
														},
														{
															"source": {
																"type": "String",
																"ordinal": 4
															},
															"sink": {
																"name": "constructorId",
																"type": "String"
															}
														},
														{
															"source": {
																"type": "String",
																"ordinal": 5
															},
															"sink": {
																"name": "number",
																"type": "String"
															}
														},
														{
															"source": {
																"type": "String",
																"ordinal": 6
															},
															"sink": {
																"name": "grid",
																"type": "String"
															}
														},
														{
															"source": {
																"type": "String",
																"ordinal": 7
															},
															"sink": {
																"name": "position",
																"type": "String"
															}
														},
														{
															"source": {
																"type": "String",
																"ordinal": 8
															},
															"sink": {
																"name": "positionText",
																"type": "String"
															}
														},
														{
															"source": {
																"type": "String",
																"ordinal": 9
															},
															"sink": {
																"name": "positionOrder",
																"type": "String"
															}
														},
														{
															"source": {
																"type": "String",
																"ordinal": 10
															},
															"sink": {
																"name": "points",
																"type": "String"
															}
														},
														{
															"source": {
																"type": "String",
																"ordinal": 11
															},
															"sink": {
																"name": "laps",
																"type": "String"
															}
														},
														{
															"source": {
																"type": "String",
																"ordinal": 12
															},
															"sink": {
																"name": "time",
																"type": "String"
															}
														},
														{
															"source": {
																"type": "String",
																"ordinal": 13
															},
															"sink": {
																"name": "milliseconds",
																"type": "String"
															}
														},
														{
															"source": {
																"type": "String",
																"ordinal": 14
															},
															"sink": {
																"name": "fastestLap",
																"type": "String"
															}
														},
														{
															"source": {
																"type": "String",
																"ordinal": 15
															},
															"sink": {
																"name": "rank",
																"type": "String"
															}
														},
														{
															"source": {
																"type": "String",
																"ordinal": 16
															},
															"sink": {
																"name": "fastestLapTime",
																"type": "String"
															}
														},
														{
															"source": {
																"type": "String",
																"ordinal": 17
															},
															"sink": {
																"name": "fastestLapSpeed",
																"type": "String"
															}
														},
														{
															"source": {
																"type": "String",
																"ordinal": 18
															},
															"sink": {
																"name": "statusId",
																"type": "String"
															}
														}
													]
												}
											},
											"inputs": [
												{
													"referenceName": "AzureBlob_CSV",
													"type": "DatasetReference",
													"parameters": {
														"Container": "mp255107",
														"Directory": "Erghast_Data/input/",
														"FileName": {
															"value": "@pipeline().parameters.Src_File_Name",
															"type": "Expression"
														}
													}
												}
											],
											"outputs": [
												{
													"referenceName": "AzureDatabricksDeltaLakeDataset_MP255107",
													"type": "DatasetReference",
													"parameters": {
														"Database_Name": "MP255107",
														"Table_Name": {
															"value": "@pipeline().parameters.Tgt_Table_Name",
															"type": "Expression"
														}
													}
												}
											]
										}
									]
								},
								{
									"value": "seasons",
									"activities": [
										{
											"name": "Copy Blob File To Delta Lake seasons",
											"type": "Copy",
											"dependsOn": [],
											"policy": {
												"timeout": "0.12:00:00",
												"retry": 0,
												"retryIntervalInSeconds": 30,
												"secureOutput": false,
												"secureInput": false
											},
											"userProperties": [],
											"typeProperties": {
												"source": {
													"type": "DelimitedTextSource",
													"storeSettings": {
														"type": "AzureBlobStorageReadSettings",
														"recursive": true,
														"enablePartitionDiscovery": false
													},
													"formatSettings": {
														"type": "DelimitedTextReadSettings",
														"skipLineCount": 1
													}
												},
												"sink": {
													"type": "AzureDatabricksDeltaLakeSink",
													"preCopyScript": {
														"value": "@{concat('truncate table mp255107.',pipeline().parameters.Tgt_Table_Name)}",
														"type": "Expression"
													},
													"importSettings": {
														"type": "AzureDatabricksDeltaLakeImportCommand"
													}
												},
												"enableStaging": true,
												"stagingSettings": {
													"linkedServiceName": {
														"referenceName": "AzureBlobStorage",
														"type": "LinkedServiceReference"
													},
													"path": "mp255107/unzip"
												},
												"translator": {
													"type": "TabularTranslator",
													"mappings": [
														{
															"source": {
																"type": "String",
																"ordinal": 1
															},
															"sink": {
																"name": "year",
																"type": "String"
															}
														},
														{
															"source": {
																"type": "String",
																"ordinal": 2
															},
															"sink": {
																"name": "url",
																"type": "String"
															}
														}
													]
												}
											},
											"inputs": [
												{
													"referenceName": "AzureBlob_CSV",
													"type": "DatasetReference",
													"parameters": {
														"Container": "mp255107",
														"Directory": "Erghast_Data/input/",
														"FileName": {
															"value": "@pipeline().parameters.Src_File_Name",
															"type": "Expression"
														}
													}
												}
											],
											"outputs": [
												{
													"referenceName": "AzureDatabricksDeltaLakeDataset_MP255107",
													"type": "DatasetReference",
													"parameters": {
														"Database_Name": "MP255107",
														"Table_Name": {
															"value": "@pipeline().parameters.Tgt_Table_Name",
															"type": "Expression"
														}
													}
												}
											]
										}
									]
								},
								{
									"value": "sprint_results",
									"activities": [
										{
											"name": "Copy Blob File To Delta Lake sprint_results",
											"type": "Copy",
											"dependsOn": [],
											"policy": {
												"timeout": "0.12:00:00",
												"retry": 0,
												"retryIntervalInSeconds": 30,
												"secureOutput": false,
												"secureInput": false
											},
											"userProperties": [],
											"typeProperties": {
												"source": {
													"type": "DelimitedTextSource",
													"storeSettings": {
														"type": "AzureBlobStorageReadSettings",
														"recursive": true,
														"enablePartitionDiscovery": false
													},
													"formatSettings": {
														"type": "DelimitedTextReadSettings",
														"skipLineCount": 1
													}
												},
												"sink": {
													"type": "AzureDatabricksDeltaLakeSink",
													"preCopyScript": {
														"value": "@{concat('truncate table mp255107.',pipeline().parameters.Tgt_Table_Name)}",
														"type": "Expression"
													},
													"importSettings": {
														"type": "AzureDatabricksDeltaLakeImportCommand"
													}
												},
												"enableStaging": true,
												"stagingSettings": {
													"linkedServiceName": {
														"referenceName": "AzureBlobStorage",
														"type": "LinkedServiceReference"
													},
													"path": "mp255107/unzip"
												},
												"translator": {
													"type": "TabularTranslator",
													"mappings": [
														{
															"source": {
																"type": "String",
																"ordinal": 1
															},
															"sink": {
																"name": "resultId",
																"type": "String"
															}
														},
														{
															"source": {
																"type": "String",
																"ordinal": 2
															},
															"sink": {
																"name": "raceId",
																"type": "String"
															}
														},
														{
															"source": {
																"type": "String",
																"ordinal": 3
															},
															"sink": {
																"name": "driverId",
																"type": "String"
															}
														},
														{
															"source": {
																"type": "String",
																"ordinal": 4
															},
															"sink": {
																"name": "constructorId",
																"type": "String"
															}
														},
														{
															"source": {
																"type": "String",
																"ordinal": 5
															},
															"sink": {
																"name": "number",
																"type": "String"
															}
														},
														{
															"source": {
																"type": "String",
																"ordinal": 6
															},
															"sink": {
																"name": "grid",
																"type": "String"
															}
														},
														{
															"source": {
																"type": "String",
																"ordinal": 7
															},
															"sink": {
																"name": "position",
																"type": "String"
															}
														},
														{
															"source": {
																"type": "String",
																"ordinal": 8
															},
															"sink": {
																"name": "positionText",
																"type": "String"
															}
														},
														{
															"source": {
																"type": "String",
																"ordinal": 9
															},
															"sink": {
																"name": "positionOrder",
																"type": "String"
															}
														},
														{
															"source": {
																"type": "String",
																"ordinal": 10
															},
															"sink": {
																"name": "points",
																"type": "String"
															}
														},
														{
															"source": {
																"type": "String",
																"ordinal": 11
															},
															"sink": {
																"name": "laps",
																"type": "String"
															}
														},
														{
															"source": {
																"type": "String",
																"ordinal": 12
															},
															"sink": {
																"name": "time",
																"type": "String"
															}
														},
														{
															"source": {
																"type": "String",
																"ordinal": 13
															},
															"sink": {
																"name": "milliseconds",
																"type": "String"
															}
														},
														{
															"source": {
																"type": "String",
																"ordinal": 14
															},
															"sink": {
																"name": "fastestLap",
																"type": "String"
															}
														},
														{
															"source": {
																"type": "String",
																"ordinal": 15
															},
															"sink": {
																"name": "fastestLapTime",
																"type": "String"
															}
														},
														{
															"source": {
																"type": "String",
																"ordinal": 16
															},
															"sink": {
																"name": "statusId",
																"type": "String"
															}
														}
													]
												}
											},
											"inputs": [
												{
													"referenceName": "AzureBlob_CSV",
													"type": "DatasetReference",
													"parameters": {
														"Container": "mp255107",
														"Directory": "Erghast_Data/input/",
														"FileName": {
															"value": "@pipeline().parameters.Src_File_Name",
															"type": "Expression"
														}
													}
												}
											],
											"outputs": [
												{
													"referenceName": "AzureDatabricksDeltaLakeDataset_MP255107",
													"type": "DatasetReference",
													"parameters": {
														"Database_Name": "MP255107",
														"Table_Name": {
															"value": "@pipeline().parameters.Tgt_Table_Name",
															"type": "Expression"
														}
													}
												}
											]
										}
									]
								},
								{
									"value": "status",
									"activities": [
										{
											"name": "Copy Blob File To Delta Lake Status",
											"type": "Copy",
											"dependsOn": [],
											"policy": {
												"timeout": "0.12:00:00",
												"retry": 0,
												"retryIntervalInSeconds": 30,
												"secureOutput": false,
												"secureInput": false
											},
											"userProperties": [],
											"typeProperties": {
												"source": {
													"type": "DelimitedTextSource",
													"storeSettings": {
														"type": "AzureBlobStorageReadSettings",
														"recursive": true,
														"enablePartitionDiscovery": false
													},
													"formatSettings": {
														"type": "DelimitedTextReadSettings",
														"skipLineCount": 1
													}
												},
												"sink": {
													"type": "AzureDatabricksDeltaLakeSink",
													"preCopyScript": {
														"value": "@{concat('truncate table mp255107.',pipeline().parameters.Tgt_Table_Name)}",
														"type": "Expression"
													},
													"importSettings": {
														"type": "AzureDatabricksDeltaLakeImportCommand"
													}
												},
												"enableStaging": true,
												"stagingSettings": {
													"linkedServiceName": {
														"referenceName": "AzureBlobStorage",
														"type": "LinkedServiceReference"
													},
													"path": "mp255107/unzip"
												},
												"translator": {
													"type": "TabularTranslator",
													"mappings": [
														{
															"source": {
																"type": "String",
																"ordinal": 1
															},
															"sink": {
																"name": "statusId",
																"type": "String"
															}
														},
														{
															"source": {
																"type": "String",
																"ordinal": 2
															},
															"sink": {
																"name": "status",
																"type": "String"
															}
														}
													]
												}
											},
											"inputs": [
												{
													"referenceName": "AzureBlob_CSV",
													"type": "DatasetReference",
													"parameters": {
														"Container": "mp255107",
														"Directory": "Erghast_Data/input/",
														"FileName": {
															"value": "@pipeline().parameters.Src_File_Name",
															"type": "Expression"
														}
													}
												}
											],
											"outputs": [
												{
													"referenceName": "AzureDatabricksDeltaLakeDataset_MP255107",
													"type": "DatasetReference",
													"parameters": {
														"Database_Name": "MP255107",
														"Table_Name": {
															"value": "@pipeline().parameters.Tgt_Table_Name",
															"type": "Expression"
														}
													}
												}
											]
										}
									]
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"Src_File_Name": {
						"type": "string"
					},
					"Tgt_Table_Name": {
						"type": "string"
					}
				},
				"folder": {
					"name": "mp255107"
				},
				"annotations": [],
				"lastPublishTime": "2023-06-26T09:54:07Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/CB255052_COPY_RIM')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy data1",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "CB255052_demo_dataset",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DelimitedText19_cb",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "cb255052"
				},
				"annotations": [],
				"lastPublishTime": "2023-06-26T09:54:12Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/CB255052_DEMO_PIPELINE')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Extracting_CSVFILE_NAME",
						"type": "SetVariable",
						"dependsOn": [],
						"policy": {
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "CSV_FILE_NAME",
							"value": {
								"value": "@substring(pipeline().parameters.File_Name,0,lastindexof(pipeline().parameters.File_Name,'.'))",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Extracting CTL_Filename",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "Extracting_CSVFILE_NAME",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "CTL_FILE_NAME",
							"value": {
								"value": "@concat(substring(variables('CSV_FILE_NAME'),0,lastindexof(variables('CSV_FILE_NAME'),'.')),'.ctl')",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Check CTL FILE If Exists",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "Extracting CTL_Filename",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"dataset": {
								"referenceName": "CTL_FILE_SRCC",
								"type": "DatasetReference",
								"parameters": {
									"CTL_FILE_NAME": {
										"value": "@variables('CTL_FILE_NAME')",
										"type": "Expression"
									}
								}
							}
						}
					},
					{
						"name": "Loading Data in Staging Table",
						"type": "DatabricksNotebook",
						"dependsOn": [
							{
								"activity": "Check CTL FILE If Exists",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/CB255052"
						},
						"linkedServiceName": {
							"referenceName": "adb_ls",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"File_name": {
						"type": "string",
						"defaultValue": "abc.csv.gz"
					},
					"Container_Name": {
						"type": "string"
					},
					"Input_Directory": {
						"type": "string"
					},
					"Inbound _Directory": {
						"type": "string"
					}
				},
				"variables": {
					"CSV_FILE_NAME": {
						"type": "String",
						"defaultValue": "abc.csv.gz"
					},
					"CTL_FILE_NAME": {
						"type": "String"
					}
				},
				"folder": {
					"name": "cb255052"
				},
				"annotations": [],
				"lastPublishTime": "2023-06-26T09:53:06Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/CB_appenddemo_255052')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Get List of Files",
						"type": "GetMetadata",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "cbinp_255052",
								"type": "DatasetReference",
								"parameters": {}
							},
							"fieldList": [
								"childItems"
							],
							"storeSettings": {
								"type": "AzureBlobFSReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							},
							"formatSettings": {
								"type": "DelimitedTextReadSettings"
							}
						}
					},
					{
						"name": "ForEach1",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Get List of Files",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Get List of Files').output.childitems",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "Copy data1",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "DelimitedTextSource",
											"storeSettings": {
												"type": "AzureBlobFSReadSettings",
												"recursive": true,
												"wildcardFolderPath": "demo",
												"wildcardFileName": {
													"value": "@item().name",
													"type": "Expression"
												},
												"enablePartitionDiscovery": false
											},
											"formatSettings": {
												"type": "DelimitedTextReadSettings"
											}
										},
										"sink": {
											"type": "DelimitedTextSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											},
											"formatSettings": {
												"type": "DelimitedTextWriteSettings",
												"quoteAllText": true,
												"fileExtension": ".txt"
											}
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "cbinp_255052",
											"type": "DatasetReference",
											"parameters": {}
										}
									],
									"outputs": [
										{
											"referenceName": "cbout_255052",
											"type": "DatasetReference",
											"parameters": {}
										}
									]
								},
								{
									"name": "Append variable1",
									"type": "AppendVariable",
									"dependsOn": [
										{
											"activity": "Copy data1",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"variableName": "List Of Files",
										"value": {
											"value": "@item().name",
											"type": "Expression"
										}
									}
								},
								{
									"name": "For AddingFiles",
									"type": "SetVariable",
									"dependsOn": [
										{
											"activity": "Append variable1",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"variableName": "strListOfFiles",
										"value": {
											"value": "@{variables('List Of Files')}",
											"type": "Expression"
										}
									}
								},
								{
									"name": "Delete1",
									"type": "Delete",
									"dependsOn": [
										{
											"activity": "For AddingFiles",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"dataset": {
											"referenceName": "cbinp_255052",
											"type": "DatasetReference",
											"parameters": {}
										},
										"logStorageSettings": {
											"linkedServiceName": {
												"referenceName": "adls_ls",
												"type": "LinkedServiceReference"
											}
										},
										"enableLogging": true,
										"storeSettings": {
											"type": "AzureBlobFSReadSettings",
											"recursive": true,
											"enablePartitionDiscovery": false
										}
									}
								}
							]
						}
					},
					{
						"name": "Receiving Mail",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "ForEach1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://prod-95.eastus.logic.azure.com:443/workflows/a1dfdc3db6f84d0c8fb4e785604b0041/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=lAtlY4kX516XNcEG52k24cD2mZdwKdtPF40gTCuCYlk",
							"method": "POST",
							"headers": {},
							"body": {
								"value": "{\n\"List Of Files\":@{variables('strListOfFiles')}\n}",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Notebook1",
						"type": "DatabricksNotebook",
						"dependsOn": [
							{
								"activity": "Receiving Mail",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/cb255052/CB255052/DEMO_File"
						},
						"linkedServiceName": {
							"referenceName": "adb_ls",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"variables": {
					"List Of Files": {
						"type": "Array"
					},
					"strListOfFiles": {
						"type": "String"
					}
				},
				"folder": {
					"name": "demo_part_255052"
				},
				"annotations": [],
				"lastPublishTime": "2023-06-26T09:54:12Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/CI_CD_Test_copy1')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Src To Tgt777",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "BUSINESS_UNIT",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "BUSINESS_UNIT",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "ASSET_ID",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "ASSET_ID",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "EFFDT",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "EFFDT",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "OWNING_BUS_UNIT7",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "OWNING_BUS_UNIT7",
											"type": "String",
											"physicalType": "String"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "SrcData",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "TgtData",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "CI-CD"
				},
				"annotations": [],
				"lastPublishTime": "2023-06-26T09:54:11Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Copy_data_csv_to_csv')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy_from_csv_to_csv",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "take_backup_of_output_file",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"additionalColumns": [
									{
										"name": "Timestamp",
										"value": {
											"value": "@utcnow()",
											"type": "Expression"
										}
									}
								],
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "input_dataset",
								"type": "DatasetReference",
								"parameters": {
									"inputFileName": "Cars.csv"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "output_dataset",
								"type": "DatasetReference",
								"parameters": {
									"outputFileName": "cars_output.csv"
								}
							}
						]
					},
					{
						"name": "take_backup_of_output_file",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "output_dataset",
								"type": "DatasetReference",
								"parameters": {
									"outputFileName": "cars_output.csv"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "output_file_backup",
								"type": "DatasetReference",
								"parameters": {
									"backupFileNamePrefix": "cars"
								}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"InputFile": {
						"type": "string"
					},
					"OutputFile": {
						"type": "string"
					},
					"backFilePrefix": {
						"type": "string"
					}
				},
				"variables": {
					"delimiter": {
						"type": "String"
					}
				},
				"folder": {
					"name": "DN255032"
				},
				"annotations": [],
				"lastPublishTime": "2023-06-26T09:52:58Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Copy_data_pipeline_parameters')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "take_backup_of_output_file",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "output_dataset",
								"type": "DatasetReference",
								"parameters": {
									"outputFileName": {
										"value": "@pipeline().parameters.outputFile",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "output_file_backup",
								"type": "DatasetReference",
								"parameters": {
									"backupFileNamePrefix": {
										"value": "@pipeline().parameters.bkpFilePrefix",
										"type": "Expression"
									}
								}
							}
						]
					},
					{
						"name": "Copy_from_csv_to_csv",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "take_backup_of_output_file",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"additionalColumns": [
									{
										"name": "Timestamp",
										"value": {
											"value": "@utcnow()",
											"type": "Expression"
										}
									}
								],
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "input_dataset",
								"type": "DatasetReference",
								"parameters": {
									"inputFileName": {
										"value": "@pipeline().parameters.inputFile",
										"type": "Expression"
									},
									"delimeter": {
										"value": "@pipeline().parameters.Delimiter",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "output_dataset",
								"type": "DatasetReference",
								"parameters": {
									"outputFileName": {
										"value": "@pipeline().parameters.outputFile",
										"type": "Expression"
									}
								}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"inputFile": {
						"type": "string"
					},
					"outputFile": {
						"type": "string"
					},
					"bkpFilePrefix": {
						"type": "string"
					},
					"Delimiter": {
						"type": "string"
					}
				},
				"folder": {
					"name": "DN255032"
				},
				"annotations": [],
				"lastPublishTime": "2023-06-26T09:52:58Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DataBricks')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Extract_CSV_File_Name",
						"type": "SetVariable",
						"dependsOn": [],
						"policy": {
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "CSV_File_Name",
							"value": {
								"value": "@substring(pipeline().parameters.File_Name,0,lastindexof(pipeline().parameters.File_Name,'.'))",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Extracting ETL File Name",
						"type": "SetVariable",
						"dependsOn": [],
						"policy": {
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "CTL_File_Name",
							"value": {
								"value": "@concat(substring(variables('CSV_File_Name'),0,lastIndexOf(variables('CSV_File_Name'),'.')),'.ctl')",
								"type": "Expression"
							}
						}
					},
					{
						"name": "CTl Look Up",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"dataset": {
								"referenceName": "Ctl_source_file",
								"type": "DatasetReference",
								"parameters": {
									"CTL_File_Name": {
										"value": "@variables('CTL_File_Name')",
										"type": "Expression"
									}
								}
							}
						}
					},
					{
						"name": "Load data to stage",
						"type": "DatabricksNotebook",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/np255046/csv to stage"
						},
						"linkedServiceName": {
							"referenceName": "adb_ls",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"File_Name": {
						"type": "string",
						"defaultValue": "abc.csv.gz"
					},
					"Container_Name": {
						"type": "string"
					},
					"Input_Directory": {
						"type": "string"
					},
					"Inbound_Directory": {
						"type": "string"
					}
				},
				"variables": {
					"CSV_File_Name": {
						"type": "String"
					},
					"CTL_File_Name": {
						"type": "String"
					}
				},
				"folder": {
					"name": "np255046"
				},
				"annotations": [],
				"lastPublishTime": "2023-06-26T09:53:08Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DataBricks_Testing')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Notebook1",
						"type": "DatabricksNotebook",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/vv255027/DataLoad_src_stg_tgt_ADF"
						},
						"linkedServiceName": {
							"referenceName": "adb_ls",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Copy data1",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "DelimitedText18",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DelimitedText17",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": [],
				"lastPublishTime": "2023-06-26T09:54:13Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Demo_Databricks')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy data1",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "ParquetSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "ParquetWriteSettings"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "Nosales_input_file",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "nosales",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": [],
				"lastPublishTime": "2023-06-26T09:54:10Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Demo_Pipeline_Parameter_Exec')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Lookup1",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "JsonSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "JsonReadSettings"
								}
							},
							"dataset": {
								"referenceName": "InputFile_ds",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "Copy data1",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Lookup1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "ParquetSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "ParquetWriteSettings"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "SourceFile",
								"type": "DatasetReference",
								"parameters": {
									"sourceContainer": {
										"value": "@activity('Lookup1').output.FirstRow.sourceContainer",
										"type": "Expression"
									},
									"sourceDirectory": {
										"value": "@activity('Lookup1').output.FirstRow.sourceDirectory",
										"type": "Expression"
									},
									"sourceFileName": {
										"value": "@activity('Lookup1').output.FirstRow.sourceFileName",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "DestFileLoad",
								"type": "DatasetReference",
								"parameters": {
									"destContainer": {
										"value": "@activity('Lookup1').output.FirstRow.destContainer",
										"type": "Expression"
									},
									"destDirectory": {
										"value": "@activity('Lookup1').output.FirstRow.destDirectory",
										"type": "Expression"
									},
									"destFileName": {
										"value": "@activity('Lookup1').output.FirstRow.destFileName",
										"type": "Expression"
									}
								}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": [],
				"lastPublishTime": "2023-06-26T09:54:11Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Demo_Pipeline_String_func')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Extracting the File Name",
						"type": "SetVariable",
						"dependsOn": [],
						"policy": {
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "CSV_File_Name",
							"value": {
								"value": "@substring(pipeline().parameters.File_Name,0,lastindexof(pipeline().parameters.File_Name,'.'))",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Extracting Cntl File",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "Extracting the File Name",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "CNTL_File_Name",
							"value": {
								"value": "@concat(substring(variables('CSV_File_Name'),0,lastindexof(variables('CSV_File_Name'),'.')),'.cntl')",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Check if the file exists",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "Extracting Cntl File",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"dataset": {
								"referenceName": "DelimitedText12",
								"type": "DatasetReference",
								"parameters": {
									"Cntl_FILE_Name": {
										"value": "@variables('CNTL_File_Name')",
										"type": "Expression"
									}
								}
							}
						}
					},
					{
						"name": "Get Metadata1",
						"type": "GetMetadata",
						"dependsOn": [
							{
								"activity": "Check if the file exists",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "DelimitedText15",
								"type": "DatasetReference",
								"parameters": {
									"Csv_File_name_Mod": {
										"value": "@concat(variables('CSV_File_Name'),'.gz')",
										"type": "Expression"
									}
								}
							},
							"fieldList": [
								"exists",
								"columnCount"
							],
							"storeSettings": {
								"type": "AzureBlobFSReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							},
							"formatSettings": {
								"type": "DelimitedTextReadSettings"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"File_Name": {
						"type": "string",
						"defaultValue": "Employee.csv.gz"
					},
					"Container_Name": {
						"type": "string"
					},
					"Input_DIrectory": {
						"type": "string"
					},
					"Inbound_Directory": {
						"type": "string"
					}
				},
				"variables": {
					"CSV_File_Name": {
						"type": "String"
					},
					"CNTL_File_Name": {
						"type": "String"
					}
				},
				"annotations": [],
				"lastPublishTime": "2023-06-26T09:54:11Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Demo_f')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy data and merge",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"wildcardFolderPath": "inbound",
									"wildcardFileName": "*.csv",
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings",
									"copyBehavior": "MergeFiles"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "nj255009_demo",
								"type": "DatasetReference",
								"parameters": {
									"nj255009_demo": "Name"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "nj255009_demo",
								"type": "DatasetReference",
								"parameters": {
									"nj255009_demo": "Name"
								}
							}
						]
					},
					{
						"name": "Get from input",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "Copy data and merge",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"dataset": {
								"referenceName": "nj255009_demo",
								"type": "DatasetReference",
								"parameters": {
									"nj255009_demo": "Name"
								}
							}
						}
					},
					{
						"name": "Transformation",
						"type": "DatabricksNotebook",
						"dependsOn": [
							{
								"activity": "Get from input",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/nj255009/Demo_f",
							"baseParameters": {
								"File_1": {
									"value": "@pipeline().parameters.File_1",
									"type": "Expression"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "adb_ls",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Fail Mail",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "Get from input",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://prod-91.eastus.logic.azure.com:443/workflows/5c6ee5f98803419c94d3c4830be37908/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=vzyfUibJvi1cjqLbDl97OzhTB1QPK1uHouk_eKTrZ10",
							"method": "POST",
							"headers": {},
							"body": {
								"value": "@concat('{\n    \"EmailTo\":\"',pipeline().parameters.Email_To,'\",\n    \"Subject\":\"An error has occured in the ',pipeline().parameters.Pipe_line_Name,'-pipeline for file-',pipeline().parameters.File_1,'\",\n    \"DataFactoryName\":\"',pipeline().DataFactory,'\",\n    \"PipelineName\":\"',pipeline().parameters.Pipe_line_Name,'\",\n    \"Activity\":\"',pipeline().parameters.Activity1,'\",\n    \"ErrorMessage\":\"',pipeline().parameters.ErrorMessage1,'\",\n    \"FileName\":\"',pipeline().parameters.File_1,'\"}')\n",
								"type": "Expression"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"File_1": {
						"type": "string",
						"defaultValue": "merge.csv"
					},
					"Email_To": {
						"type": "string",
						"defaultValue": "Neha.Jawale@TERADATA.COM"
					},
					"Pipe_line_Name": {
						"type": "string",
						"defaultValue": "Demo_f"
					},
					"Activity1": {
						"type": "string",
						"defaultValue": "inbound to input"
					},
					"ErrorMessage1": {
						"type": "string",
						"defaultValue": "Not in input"
					}
				},
				"folder": {
					"name": "nj255009"
				},
				"annotations": [],
				"lastPublishTime": "2023-06-26T09:53:06Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/File_Validation')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Get Metadata1",
						"type": "GetMetadata",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "inbound",
								"type": "DatasetReference",
								"parameters": {
									"Container_Name": {
										"value": "@pipeline().parameters.Container_Name",
										"type": "Expression"
									},
									"Folder_Name": {
										"value": "@pipeline().parameters.Inbound_Folder",
										"type": "Expression"
									},
									"File_Name": {
										"value": "@pipeline().parameters.Source_File_Name",
										"type": "Expression"
									}
								}
							},
							"fieldList": [
								"size"
							],
							"storeSettings": {
								"type": "AzureBlobFSReadSettings",
								"recursive": true
							},
							"formatSettings": {
								"type": "DelimitedTextReadSettings"
							}
						}
					},
					{
						"name": "Set variable1",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "Get Metadata1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "File_Size",
							"value": {
								"value": "@string(activity('Get Metadata1').output.Size)",
								"type": "Expression"
							}
						}
					},
					{
						"name": "If Condition1",
						"type": "IfCondition",
						"dependsOn": [
							{
								"activity": "Set variable1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@equals(variables('File_Size'), '0')",
								"type": "Expression"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"Container_Name": {
						"type": "string",
						"defaultValue": "dc186053"
					},
					"Inbound_Folder": {
						"type": "string",
						"defaultValue": "inbound"
					},
					"Reject_Folder": {
						"type": "string",
						"defaultValue": "reject"
					},
					"Source_File_Name": {
						"type": "string",
						"defaultValue": "employee.txt"
					},
					"Input_Folder": {
						"type": "string",
						"defaultValue": "input"
					}
				},
				"variables": {
					"File_Size": {
						"type": "String"
					}
				},
				"annotations": [],
				"lastPublishTime": "2023-06-26T09:53:10Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Final_Demo')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "CSV_Files",
						"type": "SetVariable",
						"dependsOn": [],
						"policy": {
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "CSV_Files",
							"value": {
								"value": "@createArray(pipeline().parameters.File_1,pipeline().parameters.File_2,pipeline().parameters.File_3)",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Lookup_CSV_Files",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "CSV_Files",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@variables('CSV_Files')",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "Lookup1",
									"type": "Lookup",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "DelimitedTextSource",
											"storeSettings": {
												"type": "AzureBlobFSReadSettings",
												"recursive": true,
												"enablePartitionDiscovery": false
											},
											"formatSettings": {
												"type": "DelimitedTextReadSettings"
											}
										},
										"dataset": {
											"referenceName": "DF_Input",
											"type": "DatasetReference",
											"parameters": {
												"CSV_Files": {
													"value": "@item()",
													"type": "Expression"
												}
											}
										}
									}
								}
							]
						}
					},
					{
						"name": "Get_Files_List_inbound",
						"type": "GetMetadata",
						"dependsOn": [
							{
								"activity": "Lookup_CSV_Files",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "List_Inbound",
								"type": "DatasetReference",
								"parameters": {}
							},
							"fieldList": [
								"childItems"
							],
							"storeSettings": {
								"type": "AzureBlobFSReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							},
							"formatSettings": {
								"type": "DelimitedTextReadSettings"
							}
						}
					},
					{
						"name": "COPY_Inbound_input",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Get_Files_List_inbound",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Get_Files_List_inbound').output.ChildItems",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "Copy data1",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "DelimitedTextSource",
											"storeSettings": {
												"type": "AzureBlobFSReadSettings",
												"recursive": true,
												"wildcardFolderPath": "inbound",
												"wildcardFileName": {
													"value": "@item().name",
													"type": "Expression"
												},
												"enablePartitionDiscovery": false
											},
											"formatSettings": {
												"type": "DelimitedTextReadSettings"
											}
										},
										"sink": {
											"type": "DelimitedTextSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											},
											"formatSettings": {
												"type": "DelimitedTextWriteSettings",
												"quoteAllText": true,
												"fileExtension": ".txt"
											}
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "List_Inbound",
											"type": "DatasetReference",
											"parameters": {}
										}
									],
									"outputs": [
										{
											"referenceName": "df_output",
											"type": "DatasetReference",
											"parameters": {}
										}
									]
								},
								{
									"name": "Delete1",
									"type": "Delete",
									"dependsOn": [
										{
											"activity": "Copy data1",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"dataset": {
											"referenceName": "Del_Inbound",
											"type": "DatasetReference",
											"parameters": {}
										},
										"enableLogging": false,
										"storeSettings": {
											"type": "AzureBlobFSReadSettings",
											"recursive": true,
											"wildcardFileName": "*.csv",
											"enablePartitionDiscovery": false
										}
									}
								}
							]
						}
					},
					{
						"name": "Notebook1",
						"type": "DatabricksNotebook",
						"dependsOn": [
							{
								"activity": "COPY_Inbound_input",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/yp255010/Demo/YP55010_STAGE",
							"baseParameters": {
								"File_1": {
									"value": "@pipeline().parameters.File_1",
									"type": "Expression"
								},
								"File_2": {
									"value": "@pipeline().parameters.File_2",
									"type": "Expression"
								},
								"File_3": {
									"value": "@pipeline().parameters.File_3",
									"type": "Expression"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "adb_ls",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Success_Mail",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "Notebook1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://prod-20.eastus.logic.azure.com:443/workflows/144ac395e1c34d1cb5fd524e6e239575/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=o-2Wx_7w9CoOX5RTkJEZhaLrC8e5IsKBx0pOdX-lWV8",
							"method": "POST",
							"headers": {
								"Content-type": "application/json"
							},
							"body": {
								"value": "@concat('{\n       \"EmailTo\"  :  \"',pipeline().parameters.Email_To,'\",\n       \"Subject\" :   \"Successfully execution of ',pipeline().Pipeline,'-pipeline''\",\n        \"DataFactoryName\":  \"',pipeline().DataFactory,'\",\n        \"PipelineName\" :\"',pipeline().Pipeline,'\",\n\t}')",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Error_Mail_Notification",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "Lookup_CSV_Files",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://prod-48.eastus.logic.azure.com:443/workflows/27b0503ec47a4951aa8d0a747c7ccd25/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=b2-jmvnjIJK5gSU40VFp8FnBJs5Qh8VOg1fWGj43G7Y",
							"method": "POST",
							"headers": {
								"Content-type": "application/json"
							},
							"body": {
								"value": "@concat('{\n       \"EmailTo\"  :  \"',pipeline().parameters.Email_To,'\",\n       \"Subject\" :   \"An Error has occured in the ',pipeline().Pipeline,'-pipline for file-\n        ',pipeline().parameters.File_1,'\",\n        \"DataFactoryName\":  \"',pipeline().DataFactory,'\",\n        \"PipelineName\" :\"',pipeline().Pipeline,'\",\n        \"Activity\": \"',pipeline().Pipeline,'\",\n        \"ErrorMessage\": \"',pipeline().parameters.ErrorMessage,'\",\n        \"FileName\": \"',pipeline().parameters.File_1,'\"\n\t}')",
								"type": "Expression"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"File_1": {
						"type": "string",
						"defaultValue": "Emp.csv"
					},
					"Email_To": {
						"type": "string",
						"defaultValue": "yash.purohit@teradata.com"
					},
					"Activity": {
						"type": "string",
						"defaultValue": "Lookup"
					},
					"ErrorMessage": {
						"type": "string",
						"defaultValue": "CSV File Not Recevice"
					},
					"File_2": {
						"type": "string",
						"defaultValue": "Billing.csv"
					},
					"File_3": {
						"type": "string",
						"defaultValue": "Project.csv"
					},
					"Success_Message": {
						"type": "string",
						"defaultValue": "Pipeline Completed Successfully"
					}
				},
				"variables": {
					"CSV_Files": {
						"type": "Array"
					}
				},
				"folder": {
					"name": "yp255010"
				},
				"annotations": [],
				"lastPublishTime": "2023-06-26T09:54:14Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/HA255041_check_pipeline2')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Lookup1",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "Set variable1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"dataset": {
								"referenceName": "check_DelimitedText22",
								"type": "DatasetReference",
								"parameters": {
									"CSV_File_Name": {
										"value": "@variables('CSV_FileName')",
										"type": "Expression"
									}
								}
							}
						}
					},
					{
						"name": "Copy data1",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Lookup1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "check_DelimitedText22",
								"type": "DatasetReference",
								"parameters": {
									"CSV_File_Name": {
										"value": "@variables('CSV_FileName')",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "HA255041_out_Delimated",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Set variable1",
						"type": "SetVariable",
						"dependsOn": [],
						"policy": {
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "CSV_FileName",
							"value": {
								"value": "@pipeline().parameters.File_Name",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Set variable1_copy1",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "Lookup1",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "CSV_FileName",
							"value": "Not_Found"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"File_Name": {
						"type": "string",
						"defaultValue": "sc.csv"
					}
				},
				"variables": {
					"CSV_FileName": {
						"type": "String"
					}
				},
				"folder": {
					"name": "ha255041"
				},
				"annotations": [],
				"lastPublishTime": "2023-06-26T09:53:05Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/HA255041_param_pipeline2')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy data1",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "HA255041_Param_DelimitedText19",
								"type": "DatasetReference",
								"parameters": {
									"FileName": {
										"value": "@pipeline().parameters.FileName",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "Ha255041_param_outDelimitedText20",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"FileName": {
						"type": "String",
						"defaultValue": "FileName"
					}
				},
				"folder": {
					"name": "ha255041"
				},
				"annotations": [],
				"lastPublishTime": "2023-06-26T09:53:10Z"
			},
			"dependsOn": []
		}
	]
}